<div class="slider-container rev_slider_wrapper" style="height: 600px;">
  <div id="revolutionSlider" class="slider rev_slider" data-plugin-revolution-slider data-plugin-options='{"delay": 9000, "gridwidth": 800, "gridheight": 600}'>
    <ul>

      <li data-transition="fade">
        <img src="{% static '/img/implementacion/background.jpg' %}"
          alt="Procesamiento de ordenes de compra - Ubiqua POC"
          data-bgposition="center center"
          data-bgfit="cover"
          data-bgrepeat="no-repeat"
          class="rev-slidebg">

      <div class="tp-caption main-label text-left"
          data-x="left" data-hoffset="-150"
          data-y="center" data-voffset="-175"
          data-start="500"
          data-whitespace="nowrap"
          data-transform_in="y:[100%];s:500;"
          data-transform_out="opacity:0;s:500;"
          style="z-index: 5"
          data-mask_in="x:0px;y:0px;" >
            {% if lang == "es" %}
                Procesa tus órdenes de compra <br />
            {% endif %}
            {% if lang == "en" %}
                Automatically and seamlessly <br>process your client's purchase orders
            {% endif %}
          
          </div>

          
         <div class="tp-caption bottom-label top-ubiqua"
            data-x="left" data-hoffset="-150"
            data-y="center" data-voffset="-35"
            data-start="1500"
            style="z-index: 5"
            data-transform_in="y:[100%];opacity:0;s:500;">
            {% if lang == "es" %}
                de manera automática y sin errores <br>
            {% endif %}
            {% if lang == "en" %}
                Your biggest clients send you purchase orders in different formats. <br>
                We help you by transforming these orders into sales for your company<br>
            {% endif %}
             <hr>
           </div>

        <a class="tp-caption btn btn-md btn-primary btn-slider-action tp-btn "
          data-hash
          data-hash-offset="85"
          href="#"
          data-x="left" data-hoffset="-150"
          data-y="center" data-voffset="75"
          data-start="1800"
          data-whitespace="nowrap"
          data-transform_in="y:[100%];s:500;"
          data-transform_out="opacity:0;s:500;"
          style="z-index: 5"
          data-mask_in="x:0px;y:0px;" data-toggle="modal" data-target="#formModalContact">
            {% if lang == "es" %}
                Solicite más información
            {% endif %}
            {% if lang == "en" %}
                Get more information!
            {% endif %}
          </a>

      </li>

    </ul>
  </div>
</div>
