<section class="mb-none page-header page-header-custom-background parallax" data-stellar-background-ratio="0.5" style="background-image: url({% static '/img/productos/imp/intro.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-6 col-xs-12">
                <h1>Implemenetación de<br> nuestros sistemas <span>Para la comercialización efectiva<br> de productos.</span></h1>
                <br><br>
                <p>La clave del éxito de un proyecto tecnológico es su implementación.
Nosotros tenemos al mejor equipo de gerentes de proyecto y programadores dedicados a que las implementaciones sean efectivas, seguras y de la mano con nuestros clientes.</p>
            </div>
        </div>
    </div>
</section>
