<div class="container mb-xl">

  <div class="row">
    <div class="col-md-12 center">
      <h2 class="word-rotator-title mb-sm"><strong>Sincronización</strong> de datos</h2>
      <p class="lead">Para que nuestros servicios sean aprovechados al máximo, nosotros sincronizamos la información de tu empresa con nuestros servicios. De esta manera, tus vendedores, supervisores y gerentes ven tu información en tiempo real y ustedes evitan trabajo doble y errores.</p>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-4">
      <div class="title">
        <h2><strong>Opción 1:</strong> Por medio de exportación de archivos .csv, .txt o Excel</h2>
      </div>
      <p>Importa data automáticamente de tu sistema a UBIQUA por medio de archivos. Una opción muy rápida de hacer.</p>
    </div>

    <div class="col-md-8">
      <img class="img-responsive center" src="{% static '/img/productos/imp/excel.png' %}" alt="">
  </div>
  </div>

  <br /><br />

  <div class="row">
    <div class="col-md-4">
      <div class="title">
        <h2><strong>Opción 2:</strong> Directamente a tu ERP</h2>
      </div>
      <p>Somos sumamente flexibles con el tipo de ERP al que nos conectamos. Tenemos una vasta experiencia con distintos sistemas. Tenemos aliados estrátegicos certificados en tu sistema ERP para asegurarnos que la sincronización sea 100% segura. En caso de que su sistema, Nuestro técnicos hacen un diagnóstico detallando cómo vamos a sincronizar la información y con qué frecuencia.  </p>
    </div>
    <div class="col-md-8">
      <img class="img-responsive center" src="{% static '/img/productos/imp/erps.png' %}" alt="">
    </div>
  </div>

</div>
