<div class="container mb-xl">

  <div class="row">
    <div class="col-md-12 center">
      <h2 class="word-rotator-title mb-sm">Nuestro proceso de <strong>implementación</strong></h2>
      <p class="lead">¡Menos de 3 meses! Constantemente mejoramos y optimizamos nuestro proceso<br> de integración de software a sus sistemas de gestión.</p>
    </div>
  </div>
  <br>
  <div class="row">
      <div class="col-md-8">
          <section class="timeline">
            <div class="timeline-body">
                <div class="timeline-date">
                    <h3 class="heading-primary">Inicio de Proceso</h3>
                </div>

                <article class="timeline-box left post post-medium">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="post-image center">
                                <div>
                                    <div class="img-thumbnail circle">
                                        <img class="img-responsive circle" src="http://placehold.it/350x350" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            <div class="post-content">
                                <h4 class="heading-primary">Funcionalidades Relevantes.</h4>
                                <p>Estudio personalizado de las funciones relevantes de nuestros sistemas para su empresa.</p>
                            </div>

                        </div>
                    </div>

                </article>

                <article class="timeline-box right post post-medium">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="post-image center">
                                <div>
                                    <div class="img-thumbnail circle">
                                        <img class="img-responsive circle" src="http://placehold.it/350x350" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            <div class="post-content">
                                <h4 class="heading-primary">Project Manger</h4>
                                <p>Asignamos a un persona que desarrolle los cronogramas de implementación, la planificación de reuniones y coodinación general del proyecto.</p>
                            </div>

                        </div>
                    </div>

                </article>

                <article class="timeline-box left post post-medium">
                   <div class="row">

                        <div class="col-md-12">
                            <div class="post-image center">
                                <div>
                                    <div class="img-thumbnail circle">
                                        <img class="img-responsive circle" src="http://placehold.it/350x350" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            <div class="post-content">
                                <h4 class="heading-primary">Calidad de Información.</h4>
                                <p>Localizamos oportunidades para mejorar la calidad de tu información para que tus vendedores puedan sacarle el mayor provecho posible. </p>
                            </div>

                        </div>
                    </div>

                </article>  
                <article class="timeline-box right post post-medium">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="post-image center">
                                <div>
                                    <div class="img-thumbnail circle">
                                        <img class="img-responsive circle" src="http://placehold.it/350x350" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            <div class="post-content">
                                <h4 class="heading-primary">Integración con ERP<br><small>Para más información  <i class="fa fa-arrow-right"></i></small></h4>
                                <p>Conexión y sincronización con su sistema ERP mediante el uso de middleware o con ultilización de archivos de texto planos CSV.</p>
                            </div>

                        </div>
                    </div>

                </article>  

                <div class="timeline-date">
                    <h3 class="heading-primary"><a href="#">Finalizado</a></h3>
                </div>

            </div>

        </section>

      </div>
      <div class="col-md-4 bl-1">
          <div class="title">
            <h2>Conexión con su<strong> sistema </strong></h2>
              <span>Nosotros nos encargamos de sincronizar sus datos con nuestro sistema.</span>
          </div>
          <p>Para que nuestros servicios sean aprovechados al máximo, nosotros sincronizamos la información de tu empresa con nuestros servicios. De esta manera, tus vendedores, supervisores y gerentes ven tu información en tiempo real y ustedes evitan trabajo doble y errores. </p>
          <p><strong>La sincronización puede hacerse de 2 maneras:</strong></p>
          <h5 class="orange">1. Directamente a tu ERP:</h5>
          <p>Somos sumamente flexibles con el tipo de ERP al que nos conectamos. Tenemos una vasta experiencia con distintos sistemas de gestión empresarial y sistemas de bases de datos.</p>
          <h5 style="margin-bottom: -15px;"><small style="color: #F46C22!important;">Sistemas de conexión ya desarrollados:</small></h5>
          <div class="content-grid content-grid-dashed mt-xlg mb-lg">
              <div class="row content-grid-row">
                    <div class="content-grid-item col-md-6 center">
                        <img class="img-responsive" src="{% static '/img/productos/erp/peachtree.jpg' %}" alt="">
                    </div>
                    <div class="content-grid-item col-md-6 center">
                        <img class="img-responsive" src="{% static '/img/productos/erp/sap.jpg' %}" alt="">
                    </div>
              </div>
              <div class="row content-grid-row">
                    <div class="content-grid-item col-md-6 center">
                        <img class="img-responsive" src="{% static '/img/productos/erp/elconix.jpg' %}" alt="">
                    </div>
                    <div class="content-grid-item col-md-6 center">
                        <img class="img-responsive" src="{% static '/img/productos/erp/msd.jpg' %}" alt="">
                    </div>
              </div>
              <div class="row content-grid-row">
                    <div class="content-grid-item col-md-6 center">
                        <img class="img-responsive" src="{% static '/img/productos/erp/naf.jpg' %}" alt="">
                    </div>

              </div>
            </div>
          <p>Tenemos aliados estrátegicos certificados en tu sistema ERP para asegurarnos que la sincronización sea 100% segura.</p>
          <br>
          <h5  class="orange">2. Archivos de Texto plano:</h5>
          <p>Importamos su data automáticamente de tu sistema a UBIQUA. Una opción muy rápida de hacer.</p>
          <br><br>      <br><br>     
      </div>
  </div>

</div>
