<section class="section section-default  mb-none mt-none bg-white" >
    <div class="container">
        <div class="row mb-md">
            <div class="col-md-12">
                <div class="title">
                    <h2>Resultados de nuestra plataforma de <strong>Servicios al Cliente</strong></h2>
                      <span>Nuestros <a href="{% url '/clientes.html' %}">clientes satisfechos</a> son nuestra mejor carta de presentación.</span>
                </div>
            </div>
        </div>
        
        <div class="row mb-xlg">
            <div class="col-md-3 center result">
                <h5>Calificación de servicio</h5>
                <small>Calificación de nuestro servicio<br> en la última encuesta realizada.</small>
                <br><br>
                <div class="circular-bar">
                    <div class="circular-bar-chart" data-percent="96" data-plugin-options='{"size": 200, "lineWidth": 17, "lineCap": "square", "scaleColor": "#999", "barColor": "#f57c3a"}'>
                        <strong>96%</strong>
                        <label>Efectividad</label>
                    </div>
                </div>
            </div>
            <div class="col-md-3 center result">
                <h5>Tiempo de Respuesta</h5>
                <small>Nuestro tiempo de respuesta promedio<br> a una solicitud de soporte</small>
                <br><br>
                <div class="circular-bar">
                    <div class="circular-bar-chart" data-percent="33" data-plugin-options='{"size": 200, "lineWidth": 17, "lineCap": "square", "scaleColor": "#999", "barColor": "#f57c3a"}'>
                        <strong>20</strong>
                        <label>Minutos</label>
                    </div>
                </div>
            </div>


            <div class="col-md-6 result">
                <h5>Opiniones de nuestros clientes</h5>
                <small>Testimonios reales de nuestros usuarios<br> y clientes</small>
                <br><br>
                <div class="owl-carousel owl-theme mb-none" data-plugin-options='{"items": 1}'>
                    <div>
                        <div class="col-md-12">
                            <div class="testimonial testimonial-style-3">
                                <blockquote>
                                    <p>Quiero darles las gracias a ustedes por lo que han hecho. Desde que uso las tablets he pegado todas mis cuotas. La herramienta Ubiqua ha sido parte de mi éxito laboral. Me ha ayudado a mejorar la calidad de vida para mi familia.</p>
                                </blockquote>
                                <div class="testimonial-arrow-down"></div>
                                <div class="testimonial-author">
                                    <div class="testimonial-author-thumbnail">
                                        <img src="http://placehold.it/150x150" class="img-responsive img-circle" alt="">
                                    </div>
                                    <p><strong>Gabriel Samudo</strong><span>Agencia Feduro</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-12">
                            <div class="testimonial testimonial-style-3">
                                <blockquote>
                                    <p>Su servicio al cliente es increíble. Nunca había visto una compañía de tecnología que brinde tanto apoyo.</p>
                                </blockquote>
                                <div class="testimonial-arrow-down"></div>
                                <div class="testimonial-author">
                                    <div class="testimonial-author-thumbnail">
                                        <img src="http://placehold.it/150x150" class="img-responsive img-circle" alt="">
                                    </div>
                                    <p><strong>Ricardo Mouynes</strong><span>Airco</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-12">
                            <div class="testimonial testimonial-style-3">
                                <blockquote>
                                    <p>Soporte trabaja muy bien. Es un equipo eficiente; atiende rápido las solicitudes. Los felicito</p>
                                </blockquote>
                                <div class="testimonial-arrow-down"></div>
                                <div class="testimonial-author">
                                    <div class="testimonial-author-thumbnail">
                                        <img src="http://placehold.it/150x150" class="img-responsive img-circle" alt="">
                                    </div>
                                    <p><strong>Victor Medina</strong><span>Farmacias Arrocha</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
						</div>

        </div>
        
</section>
