<section class="section section-default bg-white mb-none pb-none" style="margin-top:220px;" >
    <div class="container">
        <div class="row mb-md">
            <div class="col-md-12">
                <div class="title">
                    <h2>Resultados de nuestro <strong>Servicios al Cliente</strong></h2>
                      <span>Nuestros <a href="{% url '/clientes.html' %}">clientes satisfechos</a> son nuestra mejor carta de presentación.</span>
                </div>
            </div>
        </div>
        
        <div class="row mb-xlg">
            <div class="col-md-3 center result mb-xlg">
                <h5>Calificación de servicio</h5>
                <small>Calificación de nuestro servicio<br> en la última encuesta realizada.</small>
                <hr>
                <div class="counters">
                    <div class="counter  counter-primary big">
                        <i class="fa fa-check-circle"></i>
                        <strong data-to="96" data-append="%"></strong>
                        <label>Efectividad</label>
                    </div>
                </div>


            </div>
            <div class="col-md-3 center result mb-xlg">
                <h5>Tiempo de Respuesta</h5>
                <small>Nuestro tiempo de respuesta promedio<br> a una solicitud de soporte</small>
                <hr>
                <div class="counters">
                    <div class="counter counter-primary big">
                        <i class="fa fa-history"></i>
                        <strong data-to="20" data-append=""></strong>
                        <label>minutos</label>
                    </div>
                </div>
            </div>


            <div class="col-md-6 result bg-gray-light">
                <h5>Opiniones de nuestros clientes</h5>
                <small>Testimonios reales de nuestros usuarios y clientes</small>
                <br><br>
                <div class="owl-carousel owl-theme mb-none" data-plugin-options='{"items": 1}'>
                     <div>
                        <div class="col-md-12">
                            <div class="testimonial testimonial-style-3">
                                <blockquote>
                                    <p>Soporte trabaja muy bien. Es un equipo eficiente; atiende rápido las solicitudes. Los felicito</p>
                                </blockquote>
                                <div class="testimonial-arrow-down"></div>
                                <div class="testimonial-author">
                                    <div class="testimonial-author-thumbnail">
                                        <img src="{% static 'img/testimonios/arrocha.jpg' %}" class="img-responsive img-circle" alt="">
                                    </div>
                                    <p><strong>Victor Medina</strong><span>Farmacias Arrocha</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div>
                        <div class="col-md-12">
                            <div class="testimonial testimonial-style-3">
                                <blockquote>
                                    <p>Su servicio al cliente es increíble. Nunca había visto una compañía de tecnología que brinde tanto apoyo.</p>
                                </blockquote>
                                <div class="testimonial-arrow-down"></div>
                                <div class="testimonial-author">
                                    <div class="testimonial-author-thumbnail">
                                        <img src="{% static 'img/testimonios/airco.jpg' %}" class="img-responsive img-circle" alt="">
                                    </div>
                                    <p><strong>Ricardo Mouynes</strong><span>Airco</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-12">
                            <div class="testimonial testimonial-style-3">
                                <blockquote>
                                    <p>Quiero darles las gracias a ustedes por lo que han hecho. Desde que uso las tablets he pegado todas mis cuotas. La herramienta Ubiqua ha sido parte de mi éxito laboral. Me ha ayudado a mejorar la calidad de vida para mi familia.</p>
                                </blockquote>
                                <div class="testimonial-arrow-down"></div>
                                <div class="testimonial-author">
                                    <div class="testimonial-author-thumbnail">
                                        <img src="{% static 'img/testimonios/feduro.jpg' %}" class="img-responsive img-circle" alt="">
                                    </div>
                                    <p><strong>Gabriel Samudo</strong><span>Agencia Feduro</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                   
                </div>
				</div>

        </div>
    </div>
        
</section>
