
<section class="section section-default section-with-mockup mb-none">
  <div class="container">
    <div class="row mb-xlg">
        <div class="col-md-12">
            <div class="title">
                <h2>Nuestra Estrategia de <strong>Servicios & Soporte</strong></h2>
                  <span>Sed ut perspiciatis unde omnis iste natus error sit voluptatem</span>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="feature-box feature-box-style-2 reverse mb-xl appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="300">
          <div class="feature-box-icon">
            <i class="fa fa-clock-o"></i>
          </div>
          <div class="feature-box-info">
            <h4 class="mb-sm">Amplio Horario de Atención</h4>
            <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
          <br><br>
        <div class="feature-box feature-box-style-2 reverse mb-xl appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="300">
          <div class="feature-box-icon">
            <i class="fa fa-ticket"></i>
          </div>
          <div class="feature-box-info">
            <h4 class="mb-sm">Sistema centralizado de Tickets</h4>
            <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 center">
        <img src="http://placehold.it/300x300" class=" mb-xl appear-animation img-responsive circle features-img" alt="{{ page_title }}" data-appear-animation="fadeInDown" data-appear-animation-delay="300" style="opacity:0.90;">
      </div>
      <div class="col-md-4">
        <div class="feature-box feature-box-style-2 mb-xl appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="300">
          <div class="feature-box-icon">
            <i class="fa fa-building"></i>
          </div>
          <div class="feature-box-info">
            <h4 class="mb-sm">Visitas y seguimiento</h4>
            <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <br><br>
        <div class="feature-box feature-box-style-2 mb-xl appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="300">
        <div class="feature-box-icon">
            <i class="fa fa-book"></i>
          </div>
          <div class="feature-box-info">
            <h4 class="mb-sm">Material de aprendizaje</h4>
            <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
