<span id="soporte" class="menu-compensation"></span>
<section class="section section-default section-with-mockup bg-dark mt-none border-none section-text-light  mb-xlg">
  <div class="container">
    <div class="row mb-xlg">
        <div class="col-md-12 center">
            <div class="title">
                {% if lang == "es" %}
                    <h2>Nuestra estrategia de <strong>Servicios & Soporte</strong></h2>
                {% endif %}
                {% if lang == "en" %}
                    <h2>Customer support</h2>
                    <span>After implementing our services in your company, we provide customer services directly to the users. </span>
                {% endif %}
            </div>
        </div>

    </div>
  </div>
    <div class="featured-boxes-full featured-boxes-full-scale">
            <div class="col-md-3">
                <div class="featured-box-full featured-box-full-primary" style="height: 291px;">
                    <i class="fa fa-clock-o"></i>
                    {% if lang == "es" %}
                        <h4>Horario de Atención</h4>
                        <p>Disponible de Lunes a Viernes de 8:00 A.M. a 6:00 P.M.<br>Sábados de 8:00 A.M. a 12:00 P.M.</p>
                    {% endif %}
                    {% if lang == "en" %}
                        <h4>Support Hours</h4>
                        <p>Monday to Friday 8:00 A.M. a 6:00 P.M.<br>Saturday 8:00 A.M. a 12:00 P.M.</p>
                    {% endif %}

                </div>
            </div>
            <div class="col-md-3">
                <div class="featured-box-full featured-box-full-primary" style="height: 291px;">
                    <i class="fa fa-ticket"></i>
                    {% if lang == "es" %}
                        <h4>Sistema centralizado de Tickets</h4>
                        <p>Para medir nuestra efectividad de respuesta.</p>
                    {% endif %}
                    {% if lang == "en" %}
                        <h4>Centralized ticketing system</h4>
                        <p>We measure and continuously improve our service</p>
                    {% endif %}

                </div>
            </div>
            <div class="col-md-3">
                <div class="featured-box-full featured-box-full-primary" style="height: 291px;">
                    <i class="fa fa-users"></i>
                    {% if lang == "es" %}
                        <h4>Visitas y seguimiento</h4>
                        <p>A usuarios para asegurar la utilización óptima del nuestros servicios</p>
                    {% endif %}
                    {% if lang == "en" %}
                        <h4>Proactive customer support</h4>
                        <p>We follow up new users to make sure they are taking advantage of our services</p>
                    {% endif %}

                </div>
            </div>
            <div class="col-md-3">
                <div class="featured-box-full featured-box-full-primary" style="height: 291px;">
                    <i class="fa fa-book"></i>
                    {% if lang == "es" %}
                        <h4>Material de aprendizaje</h4>
                        <p>Videos y preguntas frecuentes para el constante aprendizaje del vendedor</p>
                    {% endif %}
                    {% if lang == "en" %}
                        <h4>Learning material</h4>
                        <p>We provide our users with videos and FAQs so they can continue learning</p>
                    {% endif %}
                </div>
            </div>
        </div>

</section>
