
<section class="section section-default section-with-mockup mb-none">
  <div class="container">
    <div class="row mb-xlg">
        <div class="col-md-12 center">
            <div class="title">
                <h2>Te ofrecemos los siguientes recursos en caso de que los necesites</h2>
            </div>
        </div>
    </div>
  </div>
  <div class="container">
      <div class="row mb-xlg">
          <div class="col-md-12 center">
            <div class="title">
              <span>Asignación de <strong>Project Manager</strong> de Ubiqua encargado de:</span>
            </div>
          </div>
      </div>
    <div class="row">
      <div class="col-md-4">
        <div class="feature-box feature-box-style-2 reverse mb-xl appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="300">
          <div class="feature-box-icon">
            <i class="fa fa-eye"></i>
          </div>
          <div class="feature-box-info">
            <h4 class="mb-sm">Supervisión</h4>
            <p class="mb-lg">Supervisar integración de Ubiqua AVE en el período establecido.</p>
          </div>
        </div>
          <br><br>
        <div class="feature-box feature-box-style-2 reverse mb-xl appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="300">
          <div class="feature-box-icon">
            <i class="fa fa-clock-o"></i>
          </div>
          <div class="feature-box-info">
            <h4 class="mb-sm">Cronograma</h4>
            <p class="mb-lg">Desarrollar e implementar cronograma de trabajo para instalación.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 center">
        <img src="http://placehold.it/300x300" class=" mb-xl appear-animation img-responsive circle features-img" alt="{{ page_title }}" data-appear-animation="fadeInDown" data-appear-animation-delay="300" style="opacity:0.90;">
      </div>
      <div class="col-md-4">
        <div class="feature-box feature-box-style-2 mb-xl appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="300">
          <div class="feature-box-icon">
            <i class="fa fa-building"></i>
          </div>
          <div class="feature-box-info">
            <h4 class="mb-sm">Reporte</h4>
            <p class="mb-lg">Mantener a los gerentes al tanto de los avances del proyecto.</p>
          </div>
        </div>
        <br><br>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="row mb-xlg">
        <div class="col-md-12 center">
            <div class="title">
                <span><strong>Capacitaciones</strong> de los Usuarios</span>
            </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="feature-box feature-box-style-2 reverse mb-xl appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="300">
          <div class="feature-box-icon">
            <i class="fa fa-graduation-cap"></i>
          </div>
          <div class="feature-box-info">
            <h4 class="mb-sm">Capacitación</h4>
            <p class="mb-lg">Capacitaciones presenciales y virtuales de los usuarios</p>
          </div>
        </div>

        <br><br>

        <div class="feature-box feature-box-style-2 reverse mb-xl appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="300">
          <div class="feature-box-icon">
            <i class="fa fa-mobile"></i>
          </div>
          <div class="feature-box-info">
            <h4 class="mb-sm">Configuración</h4>
            <p class="mb-lg">Configuración de celulares</p>
          </div>
        </div>

        <br><br>

        <div class="feature-box feature-box-style-2 reverse mb-xl appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="300">
          <div class="feature-box-icon">
            <i class="fa fa-eye"></i>
          </div>
          <div class="feature-box-info">
            <h4 class="mb-sm">Seguimiento</h4>
            <p class="mb-lg">Seguimiento por un mes a los usuarios para asegurarnos el uso de la aplicación</p>
          </div>
        </div>

      </div>
      <div class="col-md-4 center">
        <img src="http://placehold.it/300x300" class=" mb-xl appear-animation img-responsive circle features-img" alt="{{ page_title }}" data-appear-animation="fadeInDown" data-appear-animation-delay="300" style="opacity:0.90;">
      </div>
      <div class="col-md-4">
        <div class="feature-box feature-box-style-2 mb-xl appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="300">
          <div class="feature-box-icon">
            <i class="fa fa-refresh"></i>
          </div>
          <div class="feature-box-info">
            <h4 class="mb-sm">Continuación</h4>
            <p class="mb-lg">Capacitar a un encargado de cliente para que capacite a nuevos vendedores.</p>
          </div>
        </div>
        <br><br>
        <div class="feature-box feature-box-style-2 mb-xl appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="300">
          <div class="feature-box-icon">
            <i class="fa fa-archive"></i>
          </div>
          <div class="feature-box-info">
            <h4 class="mb-sm">Entrega</h4>
            <p class="mb-lg">Entregar material de capacitación al encargado.</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
