<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="footer-ribbon">
        <span>Mantengamos el contacto</span>
      </div>
      <div class="col-md-3">
        <div class="newsletter">
          <h4>Newsletter</h4>
          <p>Esté al tanto de todas nuestras novedades y noticias. introduzca su dirección de email y suscríbase a nuestro lista de emails.</p>

          <div class="alert alert-success hidden" id="newsletterSuccess">
            <strong>Success!</strong> You've been added to our email list.
          </div>

          <div class="alert alert-danger hidden" id="newsletterError"></div>

          <form id="newsletterForm" action="php/newsletter-subscribe.php" method="POST">
            <div class="input-group">
              <input class="form-control" placeholder="Su email..." name="newsletterEmail" id="newsletterEmail" type="text">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Suscribir</button>
              </span>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-3">
          <h4 class="footer-link"><a href="{% url '/prensa.html' %}">Prensa & Media</a></h4>
        <div id="tweet" class="twitter" data-plugin-tweets data-plugin-options='{"username": "", "count": 2}'>
            <ul class="simple-post-list">
                <li>
                    <div class="post-image">
                        <div class="img-thumbnail">
                            <a target="_blank"  href="http://www.martesfinanciero.com/history/2015/10/20/voz_calificada.asp">
                                <img src="{% static 'img/footer/prensa1.jpg' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="post-info">
                        <a target="_blank" href="http://www.martesfinanciero.com/history/2015/10/20/voz_calificada.asp">2016, Año para crear un departamento de IT Ligero</a>
                        <div class="post-meta">
                             Martes Financiero
                        </div>
                    </div>
                </li>
                
                <li>
                    <div class="post-image">
                        <div class="img-thumbnail">
                            <a target="_blank" href="http://www.martesfinanciero.com/history/2015/04/14/dossier_2.asp">
                                <img src="{% static 'img/footer/prensa2.jpg' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="post-info">
                        <a target="_blank" href="http://www.martesfinanciero.com/history/2015/04/14/dossier_2.asp">Ubiqua, el experto en procesos</a>
                        <div class="post-meta">
                             Martes Financiero
                        </div>
                    </div>
                </li>
               <!-- <li>
                    <div class="post-image">
                        <div class="img-thumbnail">
                            <a target="_blank" href="http://impresa.prensa.com/economia/idea-llega_0_3841865905.html">
                                <img src="{% static 'img/footer/prensa3.jpg' %}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="post-info">
                        <a target="_blank" href="http://impresa.prensa.com/economia/idea-llega_0_3841865905.html">De una idea a otra, se llega</a>
                        <div class="post-meta">
                             La Prensa
                        </div>
                    </div>
                </li>-->
            </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact-details">
          <h4 class="footer-link"><a href="{% url '/contacto.html' %}">Contáctenos</a></h4>
          <ul class="contact">
            <li><p><i class="fa fa-map-marker"></i> <strong>Dirección:</strong> Calle 71, Casa #64, San Francisco, Ciudad de Panamá.</p></li>
            <li><p><i class="fa fa-phone"></i> <strong>Teléfono:</strong> (+507) 6213 5138</p></li>
            <li><p><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:mail@example.com">ghurtado@ubiqua.me</a></p></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <h4>Síguenos en:</h4>
        <ul class="social-icons">
          <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          <li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
          <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-1">
          <a href="index.html" class="logo footer">
            <img alt="{{ page_title }}" class="img-responsive" src="{% static '/img/logo-footer.png' %}">
          </a>
        </div>
        <div class="col-md-7 ">
          <p class="copyright-text">©2016. <a href="#">Ubiqua Panamá</a> All Rights Reserved. | Desarrollado por: <a href="#">BlueTide IT Consulting</a></p>
        </div>
        <div class="col-md-4">
          <nav id="sub-menu">
            <ul>
              <li><a href="{% url '/blog.html' %}">Blog</a></li>
              <li><a href="{% url '/sitemap.xml' %}">Sitemap</a></li>
              <li><a href="{% url '/prensa.html' %}">Prensa</a></li>
              <li><a href="{% url '/contacto.html' %}">Contáctenos</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</footer>
