<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="formModalLabel">Solicitud de demostración gratuita</h4>
            </div>
            <div class="modal-body">
                <form id="demo-form" class="form-horizontal mb-lg" novalidate="novalidate">
                    <div class="form-group mt-lg">
                        <label class="col-sm-3 control-label">Nombre*</label>
                        <div class="col-sm-9">
                            <input type="text" name="name" class="form-control" placeholder="Su nombre" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Email*</label>
                        <div class="col-sm-9">
                            <input type="email" name="email" class="form-control" placeholder="Su Email" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Teléfono</label>
                        <div class="col-sm-9">
                            <input type="url" name="url" class="form-control" placeholder="Su teléfono" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Mensaje</label>
                        <div class="col-sm-9">
                            <textarea rows="5" class="form-control" placeholder="Escriba sus comentarios" required></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Enviar Solicitud</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="formModalContact" tabindex="-1" role="dialog" aria-labelledby="formModalLabelContact" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="formModalLabel">Contáctenos para conocer más de Ubiqua</h4>
            </div>
            <div class="modal-body">
                <form id="demo-form" class="form-horizontal mb-lg" novalidate="novalidate">
                    <div class="form-group mt-lg">
                        <label class="col-sm-3 control-label">Nombre</label>
                        <div class="col-sm-9">
                            <input type="text" name="name" class="form-control" placeholder="Su nombre" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Email*</label>
                        <div class="col-sm-9">
                            <input type="email" name="email" class="form-control" placeholder="Su Email" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Teléfono</label>
                        <div class="col-sm-9">
                            <input type="url" name="url" class="form-control" placeholder="Su teléfono" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Enviar datos de contacto</button>
            </div>
        </div>
    </div>
</div>