<header id="header" class="header-narrow" data-plugin-options='{"stickyEnabled": true, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": true, "stickyStartAt": 0, "stickySetTop": "0"}'>
    <div class="header-body">
        <div class="header-container container">
            <div class="header-row">
                <div class="header-column">
                    <div class="header-logo">
                        <a href="{% url '/index.html' %}">
                            <img class="logo" alt="Ubiqua Panamá" src="{% static '/img/logo.png' %}">
                        </a>
                    </div>
                </div>
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-nav header-nav-stripe">
                            <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="header-nav-main header-nav-main-square header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
                                <nav>
                                    <ul class="nav nav-pills" id="mainNav">
                                        <li class=" {% if_current_page '/index.html' 'active' %}">
                                            <a class="" href="{% url '/index.html' %}">
                                                Inicio
                                            </a>

                                        </li>
                                        <li class="dropdown
                                                   {% if_current_page '/nosotros/historia.html' 'active' %}
                                                   {% if_current_page '/nosotros/quienes_somos.html' 'active' %}
                                                   ">
                                            <a class="dropdown-toggle" href="#">
                                                Nosotros
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{% url '/nosotros/quienes_somos.html' %}">Quiénes Somos</a></li>
                                                <li><a href="{% url '/nosotros/historia.html' %}">Historia</a></li>
                                            </ul>
                                        </li>
                                        <li class="dropdown
                                                   {% if_current_page '/productos/implementacion.html' 'active' %}
                                                   {% if_current_page '/productos/ave.html' 'active' %}
                                                   ">
                                            <a class="dropdown-toggle" href="#">
                                                Productos
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="{% url '/productos/ave.html' %}">AVE - Catálogo Digital</a></li>
                                                <li><a href="{% url '/productos/implementacion.html' %}">Implementación</a></li>
                                            </ul>

                                        </li>
                                        <li class="dropdown {% if_current_page '/clientes.html' 'active' %}">
                                            <a class="" href="{% url '/clientes.html' %}">
                                                Clientes
                                            </a>
                                        </li>
                                        <li class="
                                                   {% if_current_page '/blog.html' 'active' %}
                                                   {% if_current_page '/blog/demo_post.html' 'active' %}
                                                   ">
                                            <a class="" href="{% url '/blog.html' %}">
                                                Blog
                                            </a>

                                        </li>
                                        <li class=" {% if_current_page '/contacto.html' 'active' %}">
                                            <a class="" href="{% url '/contacto.html' %}">
                                                Contáctenos
                                            </a>

                                        </li>
                                        <li class="lang">
                                            <a href="#" class="dropdown-menu-toggle lang" id="dropdownLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                <img src="{% static '/img/blank.gif' %}" class="flag flag-es" alt="English" /> Español
                                                <i class="fa fa-angle-down"></i>
                                            </a>
                                            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownLanguage">
                                                <li><a href="#"><img src="{% static '/img/blank.gif' %}" class="flag flag-us" alt="English" /> English</a></li>
                                                <li><a href="#"><img src="{% static '/img/blank.gif' %}" class="flag flag-es" alt="Español" /> Español</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
