page_title: AVE - Mobile Sales App
title: AVE: Mobile Sales App
subtitle: Empower your salesmen to sell more efficiently
page_keywords: Lorem Ipsum
page_description: Provide your salesmen with a tool that helps them perform all their tasks more effectively and provide world-class customer service
lang: en
es_url: ../../../productos/ave/

{% extends "base_page.html" %}

{% block title %}

{% include "slider/container_ave.html" %}


{% endblock %}
{% block content %}
<div class="row mb-none mt-xlg">
    <div class="col-md-12 center">
        <h2 class="word-rotator-title mb-sm">Why <strong>Ubiqua AVE</strong></h2>
        <hr class="tall">
    </div>
</div>
<section class="section section-default bg-white section-with-mockup mt-none mb-none border-none">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="title">
                    <h2>Equip your salesmen with the <strong>best tools</strong> to deal with your customer</h2>
                </div>

                <p>Happy clients buy more and more frequently. Equip your sales team with the necessary tools so they can provide a top of the line customer service</p>
                <br>
                <a href="#" data-hash="" class="mb-xl btn btn-md btn-primary mr-md appear-animation fadeInDown appear-animation-visible" data-toggle="modal" data-target="#formModal">Contact us for a demo</a>


            </div>
            <div class="col-md-7 col-md-offset-1">
                <div class="thumb-gallery">
                    <div class="owl-carousel owl-theme manual thumb-gallery-detail show-nav" id="thumbGalleryDetail2">
                        <div>

                            <div class="ave-product">
                                <img alt="Project Image" src="{% static '/img/productos/ave/cel_pedido.jpg' %}" class="img-responsive">
                            </div>
                            <div class="ave-product-desc">
                                <i class="fa fa-send ave-product-icon"></i>
                                <hr>
                                <h4>Send orders and quotes remotely</h4>
                                <p>Send quotes to your prospective clients via email as soon as you visit them.</p>
                            </div>
                        </div>
                        <div>

                            <div class="ave-product">
                                <img alt="Project Image" src="{% static '/img/productos/ave/cel_catalogo.jpg' %}" class="img-responsive">
                            </div>
                            <div class="ave-product-desc">
                                <i class="fa fa-book ave-product-icon"></i>
                                <hr>
                                <h4>Showcase your products with a digital catalog</h4>
                                <p>Complete information of all your products in real time. Includes updated prices per customer, images and detailed information of each product</p>
                            </div>
                        </div>
                        <div>

                            <div class="ave-product">
                                <img alt="Project Image" src="{% static '/img/productos/ave/cel_clientes.jpg' %}" class="img-responsive">
                            </div>
                            <div class="ave-product-desc">
                                <i class="fa fa-briefcase ave-product-icon"></i>
                                <hr>
                                <h4>Visit clients in an efficient order</h4>
                                <p>Detail the daily visits route so your salesmen can work faster and smarter</p>
                            </div>
                        </div>
                        <div>

                            <div class="ave-product">
                                <img alt="Project Image" src="{% static '/img/productos/ave/cel_financiero.jpg' %}" class="img-responsive">
                            </div>
                            <div class="ave-product-desc">
                                <i class="fa fa-dollar ave-product-icon"></i>
                                <hr>
                                <h4>Access clients’ credit information</h4>
                                <p>Notify your clients about their current credit status.</p>
                            </div>
                        </div>
                        <div>

                            <div class="ave-product">
                                <img alt="Project Image" src="{% static '/img/productos/ave/cel_inventario.jpg' %}" class="img-responsive">
                            </div>
                            <div class="ave-product-desc">
                                <i class="fa fa-cubes ave-product-icon"></i>
                                <hr>
                                <h4>Check product real-time inventory </h4>
                                <p>Check real-time products availability  so salesmen don’t sell products that are not in stock.</p>
                            </div>
                        </div>
                        <div>

                            <div class="ave-product">
                                <img alt="Project Image" src="{% static '/img/productos/ave/cel_status.jpg' %}" class="img-responsive">
                            </div>
                            <div class="ave-product-desc">
                                <i class="fa fa-info ave-product-icon"></i>
                                <hr>
                                <h4>Check the order status</h4>
                                <p>Use the order history as a reference for future orders.</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>


<section style="padding:90px 0px;" class="section section-default section-with-mockup mb-none mt-none bg_producto section-text-light">
    <div class="container">
        <div class="row">

            <div class="col-md-7">
                <div class="thumb-gallery">
                    <div class="owl-carousel owl-theme manual thumb-gallery-detail show-nav" id="thumbGalleryDetail3">
                        <!--<div>
                                <i class="fa fa-comment ave-product-icon2"></i>
                                <h4><br>Comunica información crucial de venta</h4>
                            <br>
                                <img alt="Project Image" src="{% static '/img/productos/ave/tablet.png' %}" class="img-responsive">
                        </div>-->
                        <div>
                                <i class="fa fa-flag-checkered ave-product-icon2"></i>
                                <h4><br>Show their sales goals and their % of completion</h4>
                            <br>
                                <img style="width: 80%;margin: 0 10%;" alt="Project Image" src="{% static '/img/productos/ave/metas.png' %}" class="img-responsive">
                        </div>
                       <!-- <div>
                                <i class="fa fa-trophy ave-product-icon2"></i>
                                <h4><br>Crea torneos con incentivos </h4>
                            <br>
                                <img alt="Project Image" src="{% static '/img/productos/ave/tablet.png' %}" class="img-responsive">
                        </div>-->


                    </div>


                </div>
            </div>
            <div class="col-md-5 mt-80">
                <div class="title mt-50">
                    <h1>Motivate your salesmen to <strong>sell more</strong></h1>
                    <p class="lead"></p>
                </div>

                <p>Incentivize your sales force to perform better by establishing an effective communication system, monitoring their goals completion and gamifying their daily work.</p>
                <br>
                <a href="#" data-hash="" class="mb-xl btn btn-md btn-primary mr-md appear-animation fadeInDown appear-animation-visible" data-toggle="modal" data-target="#formModal">Contact us for a demo</a>


            </div>
        </div>
    </div>
</section>



<section class="section section-default section-with-mockup mb-none mt-none bg-orange">
<div class="container">
      <div class="row mt-xl">
        <div class="counters counters-text-dark">
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="counter appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
              <i class="fa fa-list"></i>
              <strong class="count" data-num="1100000" text-final="1,100,000" data-prepend="+"></strong>
              <label>Orders</label>
              <p class=" mb-xl">processed</p>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="counter appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="900">
              <i class="fa fa-user"></i>
              <strong class="count" data-num="700" text-final="700" data-prepend="+"></strong>
              <label>Salesmen</label>
              <p class=" mb-xl">using AVE</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="counter appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="900">
              <i class="fa fa-mobile" aria-hidden="true"></i>
                <strong class="count" data-num="800" text-final="800" data-prepend="+"></strong>
              <label>Points of Sale</label>
              <p class=" mb-xl">visited</p>
            </div>
          </div>
         <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="counter appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
              <i class="fa fa-dollar"></i>
              <strong class="count" data-num="1000000" text-final="1,000,000" data-prepend="+"></strong>
              <label>Sold</label>
              <p class=" mb-xl">through AVE</p>
            </div>
          </div>
        </div>
      </div>

</div>

</section>
<div class="container mt-xlg mb-lg">
    <br>
    <div class="row">
        <div class="title">
            <p>Ubiqua AVE is the most user-friendly and adaptable tool for salesmen.</p>
        </div>
        <hr>
       <div class="col-md-3  center">
            <img class="img-responsiveappear-animation circle icon " src="{% static '/img/productos/ave/responsive.png' %}" alt="layout styles" data-appear-animation="fadeInLeft">
            <div class="title">
                <h4>Multiplatform</h4>
             </div>
            <p class="lead2">
                Your salesmen can sell from their cellphone, computer or tablet.
            </p>
             <br>
        </div>


        <div class="col-md-3 center">
            <img class="img-responsive appear-animation circle icon" src="{% static '/img/productos/ave/offline.png' %}" alt="style switcher" data-appear-animation="fadeInRight">
            <div class="title">
                <h4>Offline mode</h4>
            </div>
            <p class="lead2">
               Bad reception should never affect your sales process. AVE works with or without internet
            </p>

             <br>
        </div>
        <div class="col-md-3  center">
            <img class="img-responsiveappear-animation circle icon " src="{% static '/img/productos/ave/seg.png' %}" alt="layout styles" data-appear-animation="fadeInLeft">
            <div class="title">
                <h4>Security</h4>
             </div>
            <p class="lead2">
                Each of your salesmen has their own account and password
            </p>
             <br>
        </div>


        <div class="col-md-3 center">
            <img class="img-responsive appear-animation circle icon" src="{% static '/img/icon/refresh.png' %}" alt="style switcher" data-appear-animation="fadeInRight">
            <div class="title">
                <h4>ERP</h4>
            </div>
            <p class="lead2">
                Doesn’t matter which ERP system you use. We will synchronize your sales information with AVE</p>

             <br>
        </div>
    </div>


</div>

{% include "index/clients_quotes.html" %}
{% endblock %}

{% block scripts %}
<script>
    $(window).load(function() {

        $('.count').each(function() {
            var $this = $(this);
            animateNumber($this);

        });

    });
    function animateNumber($element){
        var final = $element.attr("data-num");
        var final_text = $element.attr("text-final");
        var pre = $element.attr("data-prepend");
        /*alert(final + ' ' + final_text );*/
        jQuery({Counter: 0}).animate({Counter: final}, {
                duration: 3000,
                easing: 'swing',
                step: function() {
                    var num = Math.ceil(this.Counter).toString();
                    if(Number(num) > 999){
                        while (/(\d+)(\d{3})/.test(num)) {
                            num = num.replace(/(\d+)(\d{3})/, '$1' + ',' + '$2');
                        }
                    }
                    $element.text(num);

                },
                complete: function(){
                    $element.text(pre+final_text);
                }
            });
    }

</script>
{% endblock %}
