page_title: Integration
title: Implementación de soluciones
subtitle: Dale a tu vendedor las herramientas y la motivación para vender más.
page_description: We have a world-class team of project managers and programmers making and maintaining our clients’ implementations 
lang: en
es_url: ../../../productos/implementacion/

{% extends "base_page.html" %}

{% block title %}

  {% include "implementacion/slider.html" %}

{% endblock %}

{% block content %}
<div class="container mt-xl">
    <div class="row mb-none">
        <div class="col-md-12 center">
            <h2 class="word-rotator-title mb-sm"><strong>Data</strong> synchronization</h2>
            <p class="lead">We connect your company’s sales information with our products so your salesmen, supervisors and managers access real time information remotely. </p>

            <hr class="tall">
        </div>
    </div>
</div>
<section class="section section-default bg-white section-with-mockup mt-none mb-none border-none">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-1" >
                <h4 class="featured-orange">There are 2 ways to do the data synchronization:</h4>
                <h4>1. Integration with your ERP system</h4>
                <p>We have a team dedicated solely to maintaining our integrations with the most
renowned ERP systems. </p>
                <h5 style="margin-bottom: -15px;"><small style="color: #F46C22!important;">Standardized connections with:</small></h5>
                <div class="content-grid content-grid-dashed mt-xlg mb-lg">
                  <div class="row content-grid-row">
                        <div class="content-grid-item col-md-6 center">
                            <img class="img-responsive" src="{% static '/img/productos/erp/peachtree.jpg' %}" alt="PeachTree - Integration Ubiqua">
                        </div>
                        <div class="content-grid-item col-md-6 center">
                            <img class="img-responsive" src="{% static '/img/productos/erp/sap.jpg' %}" alt="SAP - Integration Ubiqua">
                        </div>
                  </div>
                  <div class="row content-grid-row">
                        <div class="content-grid-item col-md-6 center">
                            <img class="img-responsive" src="{% static '/img/productos/erp/elconix.jpg' %}" alt="Elconix - Integration Ubiqua">
                        </div>
                        <div class="content-grid-item col-md-6 center">
                            <img class="img-responsive" src="{% static '/img/productos/erp/msd.jpg' %}" alt="Microsoft Dynamics - Integration Ubiqua">
                        </div>
                  </div>
                  <div class="row content-grid-row">
                        <div class="content-grid-item col-md-6 center">
                            <img class="img-responsive" src="{% static '/img/productos/erp/naf.jpg' %}" alt="NAF - Integration Ubiqua">
                        </div>

                  </div>
                </div>
                <p>We work with ERP providers to make our connections completely safe.</p>
                <p>In case your ERP system is not among the ones mentioned, our Integrations team will diagnose the way we can synchronise your data with our products. </p>


            </div>
             <div class="col-md-5 col-md-offset-1">
                <h4>2. Data import files</h4>
                <p>Automatically import .CSV or .TXT files into our products. It’s an extremely fast and efficient way to sync your information. </p>
                 <img class="img-responsive" alt="Scheduled .CSV or .TXT files" src="{% static '/img/productos/imp/csv_en.jpg' %}">


            </div>
        </div>
    </div>
</section>

<section
  class="parallax section section-text-light section-parallax  mt-none mb-none bg_producto"
  data-stellar-background-ratio="0.5"
  >
        <div class="container">
             <div class="row mb-none">
            <div class="col-md-12 center">
                <h2 class="word-rotator-title mb-sm">Additional <strong>Services</strong></h2>
                <p class="lead">Our additional services empower our customer's with their initiative and sales success.</p>

                <hr class="tall">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-xl">
                <img class="center-img img-responsive doted-border appear-animation circle" src="{% static '/img/productos/imp/pm.jpg' %}" alt="Project Manager - Ubiqua Integration" data-appear-animation="fadeInLeft">

                <h4 class="mt-xl">Project Management</h4>
                <hr>
                <ul class="list list-icons list-primary imp-list">
                    <li><i class="fa fa-check"></i> End-to-end project implementation, from conceptualization to rollout.</li>
                    <li><i class="fa fa-check"></i> Deliver new projects on-time, on budget.</li>
                    <li><i class="fa fa-check"></i> Our project managers guide, lead, and support high-visibility implementations.</li>
                    <li><i class="fa fa-check"></i> Our change management practices maximize adoption of new solutions.</li>
                </ul>
            </div>



            <div class="col-md-6 mb-xl">
                <img class="center-img img-responsive appear-animation doted-border circle " src="{% static '/img/productos/imp/capacitacion.jpg' %}" alt="Training sessions - Ubiqua Integration" data-appear-animation="fadeInRight">

                <h4 class="mt-xl"><strong>Training</strong> sessions</h4>
                <hr>
                <ul class="list list-icons list-primary imp-list">
                    <li><i class="fa fa-check"></i> Sessions for your sales force on how to use our services</li>
                    <li><i class="fa fa-check"></i> Hands-on seminars for your salesforce. Topics include managing objections, sales funnel practices, among others.</li>

                </ul>

            </div>

        </div>

    </div>
</section>
{% include "implementacion/soporte.html" %}
{% include "implementacion/resultados.html" %}

{% endblock %}
