page_title: Ubiqua POC
title: Ubiqua POC
subtitle: Automatically and seamlessly process your clients’ purchase orders
page_description: Automatically and seamlessly process your clients’ purchase orders
lang: en
lang: en
es_url: ../../../productos/poc/

{% extends "base_page.html" %}

{% block title %}
  {% include "poc/slider.html" %}
{% endblock %}

{% block content %}
<div class="container mb-xlg mt-xlg">
    <div class="row">
        <div class="col-md-12">

            <div class="col-md-12">
              <p class="lead mt-xlg"><strong>Ubiqua POC</strong>  processes purchase orders received from your clients in seconds. With POC, your business will be able to:</p>
            </div>

            <div class="col-md-12">
              <div class="featured-boxes featured-boxes-style-2">
    						<div class="row">

                  <div class="col-md-6 mt-xl">
                    <div class="feature-box feature-box-style-5">
                      <div class="feature-box-icon circle">
                        <i class="fa fa-group"></i>
                      </div>
                      <div class="feature-box-info">
                        <p><strong>Decrease personnel</strong> processing purchase orders</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 mt-xl">
                    <div class="feature-box feature-box-style-5">
                      <div class="feature-box-icon circle">
                          <i class="fa fa-tachometer" aria-hidden="true"></i>
                      </div>
                      <div class="feature-box-info">
                          <p>Accelerate your billing process</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 mt-xl">
                    <div class="feature-box feature-box-style-5">
                      <div class="feature-box-icon circle">
                        <i class="fa fa-undo" aria-hidden="true"></i>
                      </div>
                      <div class="feature-box-info">
                        <p>Decrease product returns because of processing errors</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 mt-xl">
                    <div class="feature-box feature-box-style-5">
                      <div class="feature-box-icon circle">
                        <i class="fa fa-line-chart" aria-hidden="true"></i>
                      </div>
                      <div class="feature-box-info">
                        <p><strong>Sell more</strong> to your biggest clients</p>
                      </div>
                    </div>
                  </div>

    						</div>
			         </div>
            </div>
        </div>
    </div>

</div>

<section class="section bg_producto section-text-light section-with-mockup mb-none">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                 <div class="title center">
                    <h2>How <strong>POC</strong> works</h2>
                    <p class="lead">Automatically and seamlessly process your client’s purchase orders</p>
                 </div>
                <hr class="tall">
                <div class="col-md-6  center">
                    <i class="fa fa-list-alt product-icon" aria-hidden="true"></i>
                    <div class="title">
                        <h2>Processing purchase orders</h2>
                     </div>
                    <p class="lead2">
                        As soon as a purchase order is sent via email to the wholesaler, we identify it and process it.
                    </p>
                </div>


                <div class="col-md-6 center">
                    <i class="fa fa-exclamation-circle product-icon" aria-hidden="true"></i>
                    <div class="title">
                        <h2>Error finder</h2>
                    </div>
                    <p class="lead2">
                        In a purchase order, prices or barcodes discrepancies are very common. POC identifies the erros and notifies the person responsible of fixing it.
                    </p>
                </div>



            </div>
        </div>
    </div>

</section>

<section class="section bg-white section-default mt-none">

    <div class="home-concept en">
        <div class="container">

            <div class="row center">

                <div class="col-md-3">
                    <div class="process-image" data-appear-animation="bounceIn">
                        <img src="{% static '/img/productos/poc/icon1.jpg' %}" alt="Purchase order identifier - POC Ubiqua" />
                        <h4 class="mt-xl">Purchase order identifier</h4>
                        <p>As soon as we receive a purchase order via email, POC identifies the client that sent it and automatically downloads the email attachmen</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="process-image" data-appear-animation="bounceIn" data-appear-animation-delay="200">
                        <img src="{% static '/img/productos/poc/icon2.jpg' %}" alt="Purchase order transformer - POC Ubiqua" />
                        <h4 class="mt-xl">Purchase order transformer</h4>
                        <p>We transform a client’s purchase order into an order in your ERP system</p>
                    </div>
                </div>
                <div class="col-md-3 poc-func">
                    <div class="process-image" data-appear-animation="bounceIn" data-appear-animation-delay="400">
                        <img src="{% static '/img/productos/poc/icon3.jpg' %}" alt="Error finder - POC Ubiqua" />
                        <h4 class="mt-xl">Error finder</h4>
                        <p>Finds errors in the purchase order</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="process-image" data-appear-animation="bounceIn" data-appear-animation-delay="400">
                        <img src="{% static '/img/productos/poc/icon4.jpg' %}" alt="Error Notifier - POC Ubiqua" />
                        <h4 class="mt-xl">Error Notifier</h4>
                        <p>POC notifies the person in charge of fixing that specific error</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
