page_title: Historia
title: Nuestra Historia
subtitle: Nuestro camino y experiencias.
page_keywords: Lorem Ipsum
page_description: Lorem Ipsum


{% extends "base_page.html" %}

{% block content %}
<div class="container mb-xlg">
    <div class="row">
        <div class="col-md-12 center">
            <h2 class="word-rotator-title mb-sm">Diseño y desarrollo de <strong>software empresarial</strong> </h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>

            <hr class="tall">
        </div>
    </div>
    <div class="col-md-8">
        <h4 class="heading-primary"><strong>2012 <small>(Donde todo comienza)</small></strong></h4>
        <p>En el 2012 Diego, Gabriela, Jorge y José Ramón fundaron Ubiqua, un startup panameño de diseño y desarrollo de software enfocados en compañías de distribución y producción. Durante este primer año de vida desarrollamos, en menos de 4 meses, un prototipo de una aplicación móvil que le permitía a los vendedores de <strong>Feduro</strong> ingresar pedidos directamente al sistema de una manera remota, rápida y conveniente.</p>
        
        <h4 class="heading-primary"><strong>2013</strong></h4>
        <p>Terminamos el año 2013 con una versión mejorada de la aplicación y 65 usuarios entre Agencias Feduro y ganando nuestro nuevo cliente: Grupo De Haseth.</p>
        

        <h4 class="heading-primary"><strong>2014</strong></h4>
        <p>En el 2014 seguimos innovando. Gracias al apoyo de nuestro nuevo integrante del equipo de trabajo, Alberto, logramos terminar el año con un crecimiento de 190 usuarios en 5 clientes totales. </p>

        

        <h4 class="heading-primary"><strong>2015</strong></h4>
        <p>En el 2015 decidimos acelerar nuestro proceso de desarrollo del producto y minimizar el tiempo de implementación de clientes nuevos. Para esto contratamos 4 ingenieros en sistemas, 2 Project Managers y una asistente administrativa. Terminamos el año con más una aplicación muy completa, llena de funcionalidades nuevas y con mejoras exponenciales en rendimiento, seguridad y uso de memoria. Logramos superar los 600 usuarios a nivel nacional, implementados en 11 empresas panameñas. </p>
        
        <h4 class="heading-primary"><strong>2016 <small>(La historia continua...)</small></strong></h4>
        <p>En el 2016 buscamos seguir expandiendo nuestra oferta para empresas panameñas y explorar oportunidades en mercados internacionales.</p>
    
    </div>
    <div class="col-md-4">
        <div class="featured-box featured-box-primary">
            <div class="box-content">
                <h4 class="text-uppercase">Galería Imágenes</h4>
                <ul class="thumbnail-gallery" data-plugin-lightbox="" data-plugin-options="{&quot;delegate&quot;: &quot;a&quot;, &quot;type&quot;: &quot;image&quot;, &quot;gallery&quot;: {&quot;enabled&quot;: true}}">
                    <li>
                        <a title="Imagen Demo" href="http://placehold.it/1024x768">
                            <span class="thumbnail mb-none">
                                <img src="http://placehold.it/120x120" alt="">
                            </span>
                        </a>
                    </li>
                    <li>
                        <a title="Imagen Demo" href="http://placehold.it/1024x768">
                            <span class="thumbnail mb-none">
                                <img src="http://placehold.it/120x120" alt="">
                            </span>
                        </a>
                    </li>
                    <li>
                        <a title="Imagen Demo" href="http://placehold.it/1024x768">
                            <span class="thumbnail mb-none">
                                <img src="http://placehold.it/120x120" alt="">
                            </span>
                        </a>
                    </li>
                    <li>
                        <a title="Imagen Demo" href="http://placehold.it/1024x768">
                            <span class="thumbnail mb-none">
                                <img src="http://placehold.it/120x120" alt="">
                            </span>
                        </a>
                    </li>
                    <li>
                        <a title="Imagen Demo" href="http://placehold.it/1024x768">
                            <span class="thumbnail mb-none">
                                <img src="http://placehold.it/120x120" alt="">
                            </span>
                        </a>
                    </li>
                    <li>
                        <a title="Imagen Demo" href="http://placehold.it/1024x768">
                            <span class="thumbnail mb-none">
                                <img src="http://placehold.it/120x120" alt="">
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>


    </div>
</div>


{% endblock %}

{% block scripts %}



{% endblock %}
