page_title: Nosotros
title: ¿Quiénes Somos?
subtitle: Conozca más de nosotros
page_keywords: Lorem Ipsum
page_description: Lorem Ipsum


{% extends "base_page.html" %}

{% block content %}

<div class="container mb-xlg">
    <div class="row">
        <div class="col-md-12 center">
            <h2 class="word-rotator-title mb-sm">Diseño y desarrollo de <strong>software empresarial</strong> </h2>
            <p class="lead">Nos enfocamos en hacer software para organizaciones productoras y de distribución. Empresas que tienen productos en bodegas y los venden a supermercados, farmacias y tiendas de consumo. </p>

            <hr class="tall">
        </div>
    </div>
    <div class="col-md-6">
         <div class="title">

            <h2>Nuestra<strong> Historia </strong></h2>
          </div>
        <h4 class="heading-primary"><strong>Fundada en 2012</strong></h4>
        <p>Diego, Gabriela, Jorge y José Ramón fundaron Ubiqua, un startup panameño de diseño y desarrollo de software. La idea fue seguir la metodología de trabajo de la escuela de diseño de Stanford (Stanford dSchool) para innovar y desarrollar herramientas de trabajo para empoderar a los empleados y liberarlos de procesos manuales. Esta filosofía y estas metodologías las usan las mejores empresas de tecnología en Silicon Valley en California.</p>
        <p>Hoy somos una empresa de 12 empleados que atiende a más de 600 usuarios a nivel nacional de 11 empresas líderes en las industrias farmacéuticas, de consumo masivo, y de producción.</p>
        <a href="{% url '/nosotros/historia.html' %}" class="button">Conozca nuestra historia completa</a>
        
        
    </div>
    <div class="col-md-6">
         <div class="title">
            <h2>Nuestra <strong>Misión & valores</strong></h2>
             <p>Crear soluciones para la comercialización ràpida y efectiva de productos.</p>
         </div>
        <div class="col-md-6">
            <div class="feature-box feature-box-primary">
                <div class="feature-box-icon">
                    <i class="fa fa-group"></i>
                </div>
                <div class="feature-box-info">
                    <h4 class="mb-sm">Empatía</h4>
                    <p class="mb-lg">Nuestra filosofía nos lleva a ponernos en los zapatos de los demás como primera reacción.</p>
                </div>
            </div>
            <div class="feature-box feature-box-primary">
                <div class="feature-box-icon">
                    <i class="fa fa-refresh"></i>
                </div>
                <div class="feature-box-info">
                    <h4 class="mb-sm">Mejoras constantes</h4>
                    <p class="mb-lg">Cuestionar el status quo para ser cada vez más efectivos y eficientes en lo que hacemos. </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="feature-box feature-box-primary">
                <div class="feature-box-icon">
                    <i class="fa fa-plus"></i>
                </div>
                <div class="feature-box-info">
                    <h4 class="mb-sm">Agregamos Valor</h4>
                    <p class="mb-lg">Asegurarse que tus comportamientos aporten al beneficio de la empresa</p>
                </div>
            </div>
            <div class="feature-box feature-box-primary">
                <div class="feature-box-icon">
                    <i class="fa fa-thumbs-o-up"></i>
                </div>
                <div class="feature-box-info">
                    <h4 class="mb-sm">Confiabilidad</h4>
                    <p class="mb-lg">Crear una reputación impecable en donde nuestra palabra es ley.</p>
                </div>
            </div>
        </div>
        
        
        
        
    </div>

</div>

  {% include "index/hero.html" %}

{% include "index/clients_quotes.html" %}
<br>
<div class="container">
    <div class="row mt-xlg">
        <div class="col-md-6">
             <div class="title">
                <h2>Nuestro<strong> Equipo de Trabajo</strong></h2>
              </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. </p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pellentesque neque eget diam posuere porta. Quisque ut nulla at nunc <a href="#">vehicula</a> lacinia. Proin adipiscing porta tellus, ut feugiat nibh adipiscing sit amet. In eu justo a felis faucibus ornare vel id metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In eu libero ligula. </p>
        </div>
        <div class="col-md-6">
            <h5>Estructura de la Plantilla</h5>
            <div class="progress-bars">
                <div class="progress-label right">
                    <span>Ingenieros</span>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-primary" data-appear-progress-animation="50%">
                        <span class="progress-bar-tooltip">50%</span>
                    </div>
                </div>
                <div class="progress-label right">
                    <span>Diseñadores</span>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-primary" data-appear-progress-animation="10%" data-appear-animation-delay="300">
                        <span class="progress-bar-tooltip">10%</span>
                    </div>
                </div>
                <div class="progress-label right">
                    <span>Programadores</span>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-primary" data-appear-progress-animation="20%" data-appear-animation-delay="600">
                        <span class="progress-bar-tooltip">20%</span>
                    </div>
                </div>
                <div class="progress-label right">
                    <span>Marketing</span>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-primary" data-appear-progress-animation="20%" data-appear-animation-delay="900">
                        <span class="progress-bar-tooltip">20%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-xlg mb-xlg">
        <div class="col-md-12">
            <div class="title">
                <h5>Socios de Ubiqua</h5>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <span class="thumb-info thumb-info-hide-wrapper-bg">
                <span class="thumb-info-wrapper">
                    <a href="about-me.html">
                        <img src="http://placehold.it/350x350" class="img-responsive" alt="">
                        <span class="thumb-info-title">
                            <span class="thumb-info-inner">John Doe</span>
                            <span class="thumb-info-type">Partner</span>
                        </span>
                    </a>
                </span>
                <span class="thumb-info-caption">
                    <span class="thumb-info-caption-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan</span>
                    <span class="thumb-info-social-icons">
                        <a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                        <a href="http://www.twitter.com"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                        <a href="http://www.linkedin.com"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
                    </span>
                </span>
            </span>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <span class="thumb-info thumb-info-hide-wrapper-bg">
                <span class="thumb-info-wrapper">
                    <a href="about-me.html">
                        <img src="http://placehold.it/350x350" class="img-responsive" alt="">
                        <span class="thumb-info-title">
                            <span class="thumb-info-inner">John Doe</span>
                            <span class="thumb-info-type">Partner</span>
                        </span>
                    </a>
                </span>
                <span class="thumb-info-caption">
                    <span class="thumb-info-caption-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan</span>
                    <span class="thumb-info-social-icons">
                        <a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                        <a href="http://www.twitter.com"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                        <a href="http://www.linkedin.com"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
                    </span>
                </span>
            </span>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <span class="thumb-info thumb-info-hide-wrapper-bg">
                <span class="thumb-info-wrapper">
                    <a href="about-me.html">
                        <img src="http://placehold.it/350x350" class="img-responsive" alt="">
                        <span class="thumb-info-title">
                            <span class="thumb-info-inner">John Doe</span>
                            <span class="thumb-info-type">Partner</span>
                        </span>
                    </a>
                </span>
                <span class="thumb-info-caption">
                    <span class="thumb-info-caption-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan</span>
                    <span class="thumb-info-social-icons">
                        <a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                        <a href="http://www.twitter.com"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                        <a href="http://www.linkedin.com"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
                    </span>
                </span>
            </span>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <span class="thumb-info thumb-info-hide-wrapper-bg">
                <span class="thumb-info-wrapper">
                    <a href="about-me.html">
                        <img src="http://placehold.it/350x350" class="img-responsive" alt="">
                        <span class="thumb-info-title">
                            <span class="thumb-info-inner">John Doe</span>
                            <span class="thumb-info-type">Partner</span>
                        </span>
                    </a>
                </span>
                <span class="thumb-info-caption">
                    <span class="thumb-info-caption-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac ligula mi, non suscipitaccumsan</span>
                    <span class="thumb-info-social-icons">
                        <a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i><span>Facebook</span></a>
                        <a href="http://www.twitter.com"><i class="fa fa-twitter"></i><span>Twitter</span></a>
                        <a href="http://www.linkedin.com"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
                    </span>
                </span>
            </span>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}



{% endblock %}
