<div class="home-intro orange mb-none" id="home-intro">
  <div class="container">

    <div class="row">
      <div class="col-md-7 col-sm-6">
        <p>
          Nuestros <strong>Productos y Soluciones</strong>
          <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
        </p>
      </div>
      <div class="col-md-5 col-sm-6">
        <div class="mt-lg mb-xl">
          <a href="#" data-hash class="btn btn-md btn-primary mr-md appear-animation" data-appear-animation="fadeInDown" data-appear-animation-delay="300">Conozca nuestros productos</a> <span class="appear-animation" data-appear-animation="fadeInDown" data-appear-animation-delay="600"><span class="btn-sep">- </span><a class="call-link" href="{% url '/contacto.html' %}">Contáctenos</span></a>
        </div>
      </div>
    </div>

  </div>
</div>
