<section class="mt-xl" >
  <div class="row center">
  	<div class="col-md-12">
  		<h2 class="mb-sm word-rotator-title">
  			We're not the only ones
  			<strong>
  				<span class="word-rotate active" data-plugin-options="{&quot;delay&quot;: 3500, &quot;animDelay&quot;: 400}">
  					<span style="width: 90px; top: -42px;" class="word-rotate-items">
  						<span>excited</span>
  						<span>happy</span>
  					<span>excited</span></span>
  				</span>
  			</strong>
  			about Porto Template...
  		</h2>
  		<h4 class="heading-primary lead tall">20,000 customers in 100 countries use Porto Template. Meet our customers.</h4>
  	</div>
  </div>

  <div class="row center">
  	<div class="owl-carousel owl-theme" data-plugin-options='{"items": 6, "autoplay": true, "autoplayTimeout": 3000}'>
  		<div>
  			<img class="img-responsive" src="{% static 'img/index/logos/logo-1.png' %}" alt="">
  		</div>
  		<div>
  			<img class="img-responsive" src="{% static 'img/index/logos/logo-2.png' %}" alt="">
  		</div>
  		<div>
  			<img class="img-responsive" src="{% static 'img/index/logos/logo-3.png' %}" alt="">
  		</div>
  		<div>
  			<img class="img-responsive" src="{% static 'img/index/logos/logo-4.png' %}" alt="">
  		</div>
  		<div>
  			<img class="img-responsive" src="{% static 'img/index/logos/logo-5.png' %}" alt="">
  		</div>
  		<div>
  			<img class="img-responsive" src="{% static 'img/index/logos/logo-6.png' %}" alt="">
  		</div>
  		<div>
  			<img class="img-responsive" src="{% static 'img/index/logos/logo-4.png' %}" alt="">
  		</div>
  		<div>
  			<img class="img-responsive" src="{% static 'img/index/logos/logo-2.png' %}" alt="">
  		</div>
  	</div>
  </div>
</section>
