<section class="section section-default section-with-mockup mb-none mt-none bg-white" >
    <div class="container">
      <div class="row center ">
        <div class="row mb-xlg">
            <div class="col-md-12 center">
                {% if lang == "es" %}
                    <h2 class="word-rotator-title mb-sm">Algunas <strong>grandes empresas</strong> que ya usan nuestros servicios</h2>
                {% endif %}
                {% if lang == "en" %}
                     <h2 class="word-rotator-title mb-sm">Some of <strong>our clients</strong></h2>
                {% endif %}
              <hr class="tall">
            </div>
        </div>

      <div class="row center">
        <div class="owl-carousel owl-theme" data-plugin-options='{"items": 6, "autoplay": true, "autoplayTimeout": 3000}'>
             <div>
                <img class="img-responsive" src="{% static '/img/clientes_bw/wurth.jpg' %}" alt="Wurth Ubiqua - Panama">
            </div>
             <div>
                <img class="img-responsive" src="{% static '/img/clientes_bw/mota.jpg' %}" alt="Felipe Mota - Ubiqua Panama">
            </div>
            <div>
                <img class="img-responsive" src="{% static '/img/clientes_bw/tasty.jpg' %}" alt="Tasty Choice - Ubiqua Panama">
            </div>
            
            <div>
                <img class="img-responsive" src="{% static '/img/clientes_bw/arrocha.jpg' %}" alt="Farmacias Arrocha - Ubiqua Panama">
            </div>
            <div>
                <img class="img-responsive" src="{% static '/img/clientes_bw/feduro.jpg' %}" alt="Agencias Feduro - Ubiqua Panama">
            </div>
            <div>
                <img class="img-responsive" src="{% static '/img/clientes_bw/global.jpg' %}" alt="Global Brands - Ubiqua Panama">
            </div>
            <div>
                <img class="img-responsive" src="{% static '/img/clientes_bw/haseth.jpg' %}" alt="C.G de Haseth - Ubiqua Panama">
            </div>
            <div>
                <img class="img-responsive" src="{% static '/img/clientes_bw/impadoel.jpg' %}" alt="Impadoel - Ubiqua Panama">
            </div>
            <div>
                <img class="img-responsive" src="{% static '/img/clientes_bw/medimex.jpg' %}" alt="Medimex - Ubiqua Panama">
            </div>
            <div>
                <img class="img-responsive" src="{% static '/img/clientes_bw/metro.jpg' %}" alt="Metro sistemas - Ubiqua Panama">
            </div>
            <div>
                <img class="img-responsive" src="{% static '/img/clientes_bw/arce.jpg' %}" alt="Del Día - Ubiqua Panama">
            </div>
            
            <div>
                <img class="img-responsive" src="{% static '/img/clientes_bw/tshirt.jpg' %}" alt="Shirt Panamá - Ubiqua Panama">
            </div>

        </div>
      </div>
    </div>
</section>
