<section class="parallax section section-text-light section-parallax section-center mt-none mb-none " data-stellar-background-ratio="0.5" style="background-image: url('{% static 'img/index/bg2.jpg' %}');">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <div class="owl-carousel owl-theme nav-bottom rounded-nav mb-none" data-plugin-options='{"items": 1, "loop": true, "autoplay": true, "autoplayTimeout": 9000}'>
            <div>
            <div class="col-md-12">
              <img class="circle quote-img" src="{% static '/img/testimonios/feduro.jpg' %}" alt="Feduro - Ubiqua Panama">
              <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
                <blockquote>
                  <p>
                    {% if lang == "es" %}
                      Encontramos a un socio estratégico con el cual hemos podido desarrollar aplicaciones que nos han permitido crecer en el ámbito de la industria de distribución en Panamá.
                    {% endif %}
                    {% if lang == "en" %}
                      We consider Ubiqua as a strategic partner that has helped us to keep growing in the wholesale industry.
                    {% endif %}
                  </p>
                </blockquote>
                <div class="testimonial-author">
                  <p><strong>Ramon Maduro</strong></p>
                    <small>AGENCIAS FEDURO</small>
                </div>
              </div>

            </div>
          </div>
          <div>
            <img class="circle quote-img" src="{% static '/img/testimonios/global.jpg' %}" alt="Agencia FEDURO - Ubiqua Panama">
            <div class="col-md-12">
              <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
                <blockquote>
                  <p>
                    {% if lang == "es" %}
                      Esta herramienta nos ha ayudado a ser más eficientes, nos ha permitido darle una mejor atención a nuestros clientes y nos ha ayudado a obtener mejores resultados.
                    {% endif %}
                    {% if lang == "en" %}
                      Ubiqua's mobile applications have made us more efficient. Now we are able to provide a better customer service and deliver results faster.
                    {% endif %}
                   </p>
                </blockquote>
                <div class="testimonial-author">
                  <p><strong>Luis Quezada</strong></p>
                    <small>GLOBAL BRANDS</small>
                </div>
              </div>

            </div>
          </div>
          <div>
            <img class="circle quote-img" src="{% static '/img/testimonios/feduro.jpg' %}" alt="Arce Avícola - Ubiqua Panama">
            <div class="col-md-12">
              <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
                <blockquote>
                  <p>
                    {% if lang == "es" %}
                       Me atrevo a recomendar a Ubiqua como aliado estratégico para cualquier implementación. Ya sea de un producto u optimización de un proceso, porque estoy seguro que los resultados se veran muy rápido.
                    {% endif %}
                    {% if lang == "en" %}
                      I would recommend Ubiqua for any implementation. I'm sure you will see results really fast.
                    {% endif %}

                  </p>
                </blockquote>
                <div class="testimonial-author">
                  <p><strong>Avelino Rios</strong></p>
                    <small>AGENCIAS FEDURO</small>
                </div>
              </div>

            </div>
          </div>

          <div>
            <div class="col-md-12">
              <img class="circle quote-img" src="{% static '/img/testimonios/escoffery.png' %}" alt="Impa-doel - Ubiqua Panama">
              <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
                <blockquote>
                  <p>
                   {% if lang == "es" %}
                       La llegada de Ubiqua nos ha permitido ser más efectivos en la toma de pedidos y reducir al máximo los errores comunes en los procesos manuales de facturación.
                    {% endif %}
                    {% if lang == "en" %}
                       Since we started working with Ubiqua, we have reduced the number of errors ocurred because of manual billing processes. 
                    {% endif %}
                  </p>
                </blockquote>
                <div class="testimonial-author">
                  <p><strong>Carlos Fuentes</strong></p>
                    <small>AGENCIAS ESCOFFERY</small>
                </div>
              </div>

            </div>
          </div>


            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

</section>
