<section class="section section-default section-with-mockup mb-none mt-none bg-white" >
    <div class="container">
      <div class="row center ">
        <div class="row mb-xlg">
            <div class="col-md-12 center">
              <h2 class="word-rotator-title mb-sm">Algunas <strong>grandes empresas</strong> que ya usan nuestros servicios</h2>
              <p class="lead">Más de 600 usuarios en 12 empresas de distribución y almacenamiento de mercancías</p>
            </div>
        </div>

      <div class="row center">
        <div class="owl-carousel owl-theme" data-plugin-options='{"items": 6, "autoplay": true, "autoplayTimeout": 3000}'>
             <div>
                <img class="img-responsive" src="{% static '/img/clientes_bw/wurth.jpg' %}" alt="">
            </div>
             <div>
                <img class="img-responsive" src="{% static '/img/clientes_bw/mota.jpg' %}" alt="">
            </div>
            <div>
                <img class="img-responsive" src="{% static '/img/clientes_bw/tasty.jpg' %}" alt="">
            </div>
            
            <div>
                <img class="img-responsive" src="{% static '/img/clientes_bw/arrocha.jpg' %}" alt="">
            </div>
            <div>
                <img class="img-responsive" src="{% static '/img/clientes_bw/feduro.jpg' %}" alt="">
            </div>
            <div>
                <img class="img-responsive" src="{% static '/img/clientes_bw/global.jpg' %}" alt="">
            </div>
            <div>
                <img class="img-responsive" src="{% static '/img/clientes_bw/haseth.jpg' %}" alt="">
            </div>
            <div>
                <img class="img-responsive" src="{% static '/img/clientes_bw/impadoel.jpg' %}" alt="">
            </div>
            <div>
                <img class="img-responsive" src="{% static '/img/clientes_bw/medimex.jpg' %}" alt="">
            </div>
            <div>
                <img class="img-responsive" src="{% static '/img/clientes_bw/metro.jpg' %}" alt="">
            </div>
            <div>
                <img class="img-responsive" src="{% static '/img/clientes_bw/arce.jpg' %}" alt="">
            </div>
            
            <div>
                <img class="img-responsive" src="{% static '/img/clientes_bw/tshirt.jpg' %}" alt="">
            </div>

        </div>
      </div>
    </div>
</section>
