<section class="parallax section section-text-light section-parallax section-center mt-none mb-none " data-stellar-background-ratio="0.5" style="background-image: url('{% static 'img/index/bg2.jpg' %}');">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">

        <div class="owl-carousel owl-theme nav-bottom rounded-nav mb-none" data-plugin-options='{"items": 1, "loop": true, "autoplay": true, "autoplayTimeout": 9000}'>
            <div>
            <div class="col-md-12">
              <img class="circle quote-img" src="{% static '/img/testimonios/impadoel.jpg' %}">
              <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
                <blockquote>
                  <p>
                    {% if lang == "es" %}
                      Voy más bien, metiendo el pedido disque pin pin pin, me siento como James Bond
                    {% endif %}
                    {% if lang == "en" %}
                      I’m doing really well, I go so fast, I feel like James Bond
                    {% endif %}
                  </p>
                </blockquote>
                <div class="testimonial-author">
                  <p><strong>Fidel Barrios</strong></p>
                    <small>Impa-doel</small>
                </div>
              </div>

            </div>
          </div>
          <div>
            <img class="circle quote-img" src="{% static '/img/testimonios/feduro.jpg' %}">
            <div class="col-md-12">
              <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
                <blockquote>
                  <p>
                    {% if lang == "es" %}
                      Quiero darles las gracias a ustedes por lo que han hecho. Desde que uso las tablets he pegado todas mis cuotas. La herramienta Ubiqua ha sido parte de mi éxito laboral. Me ha ayudado a mejorar la calidad de vida para mi familia.
                    {% endif %}
                    {% if lang == "en" %}
                      I want to thank you all for what you have done. Ever since I use the app, I have completed my sales goals. Ubiqua has been a great part of my success.
                    {% endif %}
                   </p>
                </blockquote>
                <div class="testimonial-author">
                  <p><strong>Gabriel Samudio</strong></p>
                    <small>Agencia FEDURO</small>
                </div>
              </div>

            </div>
          </div>
          <div>
            <img class="circle quote-img" src="{% static '/img/testimonios/arce.jpg' %}">
            <div class="col-md-12">
              <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
                <blockquote>
                  <p>
                    {% if lang == "es" %}
                       La aplicación está perfecta. Ya no tengo que llamar al call center para pasar mi pedido.  Tampoco tengo que ir en persona hasta el call center. Me ahorro todo ese tiempo. 
                    {% endif %}
                    {% if lang == "en" %}
                       La aplicación está perfecta. Ya no tengo que llamar al call center para pasar mi pedido.  Tampoco tengo que ir en persona hasta el call center. Me ahorro todo ese tiempo. 
                    {% endif %}
                     
                  </p>
                </blockquote>
                <div class="testimonial-author">
                  <p><strong>Patricio Calderon</strong></p>
                    <small>Arce Avícola</small>
                </div>
              </div>

            </div>
          </div>
          
          <div>
            <div class="col-md-12">
              <img class="circle quote-img" src="{% static '/img/testimonios/impadoel.jpg' %}">
              <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
                <blockquote>
                  <p>
                   {% if lang == "es" %}
                       Yo tomaba 3, 4, o 5 pedidos, después codificaba, y después llamaba a facturación. Ahora todo va saliendo de ya para ya. Voy más rápido y no pierdo tiempo.
                    {% endif %}
                    {% if lang == "en" %}
                       Yo tomaba 3, 4, o 5 pedidos, después codificaba, y después llamaba a facturación. Ahora todo va saliendo de ya para ya. Voy más rápido y no pierdo tiempo.
                    {% endif %} 
                  </p>
                </blockquote>
                <div class="testimonial-author">
                  <p><strong>Lionel</strong></p>
                    <small>Impa-doel</small>
                </div>
              </div>

            </div>
          </div>
          <div>
            <div class="col-md-12">
              <img class="circle quote-img" src="{% static '/img/testimonios/impadoel.jpg' %}">
              <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
                <blockquote>
                  <p>
                    {% if lang == "es" %}
                       Mucho mejor porque esperando que contesten el teléfono en facturacion me atrasa muchísimo
                    {% endif %}
                    {% if lang == "en" %}
                       I no longer have to wait on the phone to make an order. This used to hold me back
                    {% endif %} 
                  </p>
                </blockquote>
                <div class="testimonial-author">
                  <p><strong>Fernando</strong></p>
                    <small>Impa-doel</small>
                </div>
              </div>

            </div>
          </div>
          <div>
            <div class="col-md-12">
              <img class="circle quote-img" src="{% static '/img/testimonios/tasty.jpg' %}">
              <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
                <blockquote>
                  <p>
                    {% if lang == "es" %}
                       Buenisimo. Ya no me tengo que quedar hasta las 9:00 pm pasando los pedidos
                    {% endif %}
                    {% if lang == "en" %}
                       I’m going great. Now, I don’t have to stay until 9pm in the office.
                    {% endif %} 
                  </p>
                </blockquote>
                <div class="testimonial-author">
                  <p><strong>Norma Corro</strong></p>
                    <small>Supervisora de ventas - Tasty Choice</small>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

</section>
