
<section class="section section-default section-with-mockup mb-none">
  <div class="container">
    <div class="row mb-xlg">
        <div class="col-md-12 center">
          <h2 class="word-rotator-title mb-sm">¿Cómo mejoramos la <strong>rentabilidad</strong> de su empresa?</h2>
          <p class="lead">Implementamos de forma rápida soluciones innovadoras para sus departamentos de ventas</p>
        </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="feature-box feature-box-style-2 reverse mb-xl appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="300">
          <div class="feature-box-icon">
            <i class="fa fa-bolt"></i>
          </div>
          <div class="feature-box-info">
            <h4 class="mb-sm">Implementación Ubiqua</h4>
            <p class="mb-lg">Constantementes optimizamos nuestro proceso de implementación de sistemas Ubiqua en su empresa. Ofrecemeos un servicio completo, eficiente y seguro.</p>
          </div>
        </div>
        <div class="feature-box feature-box-style-2 reverse mb-xl appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="300">
          <div class="feature-box-icon">
            <i class="fa fa-lightbulb-o"></i>
          </div>
          <div class="feature-box-info">
            <h4 class="mb-sm">Herramientas innovadoras</h4>
            <p class="mb-lg">Ubiqua ofrece herramientas comerciales en tiempo real (catálogo productos, inventario, gestion de pedidos, etc) que empoderan al vendedor para que haga todas sus funciones de la manera más efectiva.</p>
          </div>
        </div>
        <div class="feature-box feature-box-style-2 reverse mt-xl appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="300">
          <div class="feature-box-icon">
            <i class="fa fa-line-chart"></i>
          </div>
          <div class="feature-box-info">
            <h4 class="mb-sm">Efectividad operacional</h4>
            <p class="mb-lg">Ahorre tiempo y dinero eliminando pasos intermedios en sus procesos comerciales y de facturación.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 center">
        <img src="{% static 'img/index/features.png' %}" class=" mb-xl appear-animation img-responsive features-img" alt="{{ page_title }}" data-appear-animation="fadeInDown" data-appear-animation-delay="300" style="opacity:0.90;">
          <br><br>
          <a href="{% url '/productos/implementacion.html' %}" data-hash class="mb-xl btn btn-md btn-primary mr-md appear-animation" data-appear-animation="fadeInDown" data-appear-animation-delay="300">Conozca nuestro proceso de implementación</a>
      </div>
      <div class="col-md-4">
        <div class="feature-box feature-box-style-2 mb-xl appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="300">
          <div class="feature-box-icon">
            <i class="fa fa-cogs"></i>
          </div>
          <div class="feature-box-info">
           <h4 class="mb-sm">Integración con ERP</h4>
            <p class="mb-lg">Nosotros nos encargamos de sincronizar tu información comercial con nuestras soluciones tecnológicas para maximizar tus recursos.</p>
          </div>
        </div>
        <div class="feature-box feature-box-style-2 mb-xl appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="300">
        <div class="feature-box-icon">
            <i class="fa fa-graduation-cap"></i>
          </div>
          <div class="feature-box-info">
            <h4 class="mb-sm">Capacitaciones</h4>
            <p class="mb-lg">Incluímos capacitaciones a todos los usuarios y seguimiento proactivo en el primer mes para asegurarnos que todos los usuarios esten aprovechando la herramienta al maximo.</p>
          </div>
        </div>
        <div class="feature-box feature-box-style-2 mb-xl appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="300">
          <div class="feature-box-icon">
            <i class="fa fa-life-ring"></i>
          </div>
          <div class="feature-box-info">
            <h4 class="mb-sm">Soporte Técnico</h4>
            <p class="mb-lg">Nuestro sistemas de soporte cuenta con una aprobación del 96% entre nuestro clientes y posee un tiempo medio de solucion de problemas de tan solo 20 minutos.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
