
<section class="section section-default section-with-mockup mb-none">
  <div class="container">
    <div class="row mb-xlg">
        <div class="col-md-12 center">
          <h2 class="word-rotator-title mb-sm">Rápida  <strong>integración e implementación</strong> en su empresa</h2>
          <p class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
        </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="feature-box feature-box-style-2 reverse mb-xl appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="300">
          <div class="feature-box-icon">
            <i class="fa fa-bolt"></i>
          </div>
          <div class="feature-box-info">
            <h4 class="mb-sm">Beneficio o característica 1</h4>
            <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="feature-box feature-box-style-2 reverse mb-xl appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="300">
          <div class="feature-box-icon">
            <i class="fa fa-cog"></i>
          </div>
          <div class="feature-box-info">
            <h4 class="mb-sm">Beneficio o característica 2</h4>
            <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="feature-box feature-box-style-2 reverse mt-xl appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="300">
          <div class="feature-box-icon">
            <i class="fa fa-refresh"></i>
          </div>
          <div class="feature-box-info">
            <h4 class="mb-sm">Beneficio o característica 3</h4>
            <p class="mb-lg">You won’t be alone, purchasing our theme, satisfaction is guaranteed, we really care about you and your website.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 center">
        <img src="{% static 'img/index/features.png' %}" class=" mb-xl appear-animation img-responsive features-img" alt="{{ page_title }}" data-appear-animation="fadeInDown" data-appear-animation-delay="300" style="opacity:0.90;">
          <br><br>
          <a href="#" data-hash class="mb-xl btn btn-md btn-primary mr-md appear-animation" data-appear-animation="fadeInDown" data-appear-animation-delay="300">Conozca nuestro proceso de implementación</a>
      </div>
      <div class="col-md-4">
        <div class="feature-box feature-box-style-2 mb-xl appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="300">
          <div class="feature-box-icon">
            <i class="fa fa-cloud"></i>
          </div>
          <div class="feature-box-info">
            <h4 class="mb-sm">Beneficio o característica 4</h4>
            <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="feature-box feature-box-style-2 mb-xl appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="300">
        <div class="feature-box-icon">
            <i class="fa fa-mobile"></i>
          </div>
          <div class="feature-box-info">
            <h4 class="mb-sm">Beneficio o característica 5</h4>
            <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
        <div class="feature-box feature-box-style-2 mb-xl appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="300">
          <div class="feature-box-icon">
            <i class="fa fa-life-ring"></i>
          </div>
          <div class="feature-box-info">
            <h4 class="mb-sm">Beneficio o característica 6</h4>
            <p class="mb-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
