<div class="container">

  <div class="row">
    <div class="col-md-12 center">
      <h2 class="word-rotator-title mb-sm">Lorem ipsum <strong>dolor sit  <span class="word-rotate" data-plugin-options='{"delay": 2000, "animDelay": 300}'>
        <span class="word-rotate-items">
          <span>amet</span>
          <span>accusamus</span>
          <span>cupiditate</span>
        </span>
      </span></strong> consectetur adipiscing elit, sed do eiusmod</h2>
      <p class="lead">Sed ut perspiciatis unde omnis iste natus error sit voluptatem <br>accusantium doloremque laudantium</p>
    </div>
  </div>

  <div class="row mt-xl">
    <div class="counters counters-text-dark">
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="counter appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
          <i class="fa fa-list"></i>
          <strong data-to="5000" data-append="+">0</strong>
          <label>Pedidos Tramitados</label>
          <p class="text-color-primary mb-xl">Unde omnis iste natus</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="counter appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
          <i class="fa fa-building"></i>
          <strong data-to="17">0</strong>
          <label>Empresas Clientes</label>
          <p class="text-color-primary mb-xl">Unde omnis iste natus</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="counter appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="900">
          <i class="fa fa-ticket"></i>
          <strong data-to="500" data-append="+">0</strong>
          <label>Tickets de Soporte</label>
          <p class="text-color-primary mb-xl">Unde omnis iste natus</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-6">
        <div class="counter appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="1200">
          <i class="fa fa-clock-o"></i>
          <strong data-to="3000" data-append="+">0</strong>
          <label>Horas de Desarrollo</label>
          <p class="text-color-primary mb-xl">Unde omnis iste natus</p>
        </div>
      </div>
    </div>
  </div>

</div>
