<div class="container">

  <div class="row">
    <div class="col-md-12 center">
      <h2 class="word-rotator-title mb-sm">Porto is the <strong>most <span class="word-rotate" data-plugin-options='{"delay": 2000, "animDelay": 300}'>
        <span class="word-rotate-items">
          <span>popular</span>
          <span>awesome</span>
          <span>incredible</span>
        </span>
      </span></strong> HTML Site template on ThemeForest.</h2>
      <p class="lead">Trusted by over 20,000 satisfied users, Porto is a huge success<br>in the of one of the world’s largest MarketPlace.</p>
    </div>
  </div>

  <div class="row mt-xl">
    <div class="counters counters-text-dark">
      <div class="col-md-3 col-sm-6">
        <div class="counter appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
          <i class="fa fa-user"></i>
          <strong data-to="20000" data-append="+">0</strong>
          <label>Happy Clients</label>
          <p class="text-color-primary mb-xl">They can’t be wrong</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="counter appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
          <i class="fa fa-desktop"></i>
          <strong data-to="17">0</strong>
          <label>Premade HomePages</label>
          <p class="text-color-primary mb-xl">Many more to come</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="counter appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="900">
          <i class="fa fa-ticket"></i>
          <strong data-to="2500" data-append="+">0</strong>
          <label>Answered Tickets</label>
          <p class="text-color-primary mb-xl">Satisfaction guaranteed</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="counter appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="1200">
          <i class="fa fa-clock-o"></i>
          <strong data-to="3000" data-append="+">0</strong>
          <label>Development Hours</label>
          <p class="text-color-primary mb-xl">Available to you for only $16</p>
        </div>
      </div>
    </div>
  </div>

</div>
