<section class="section section-default section-with-mockup mb-none mt-none bg-orange">
<div class="container">
      <div class="row mt-xl">
        <div class="counters counters-text-dark">
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="counter appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
              <i class="fa fa-list"></i>
              <strong data-to="1000000" data-append="+">0</strong>
              <label>Pedidos Tramitados</label>
              <p class=" mb-xl">a tráves de nuestro sistema</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="counter appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
              <i class="fa fa-building"></i>
              <strong data-to="13">0</strong>
              <label>Nuestros Clientes</label>
              <p class=" mb-xl">empresas distribuidoras</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="counter appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="900">
              <i class="fa fa-ticket"></i>
              <strong data-to="700" data-append="+">0</strong>
              <label>Número de Usuarios</label>
              <p class=" mb-xl">de nuestras soluciones</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="counter appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="900">
              <i class="fa fa-ticket"></i>
              <strong data-to="1500" data-append="+">0</strong>
              <label>Tickets de Soporte</label>
              <p class=" mb-xl">Solucionados por SAT</p>
            </div>
          </div>
        </div>
      </div>

</div>
</section>
