<div class="home-intro orange mb-none" id="home-intro">
  <div class="container">

    <div class="row">
      <div class="col-md-7 col-sm-6">
        <p>
          Aumente la productividad  de su empresa <em>Ahora</em>
          <span>Gana efectividad y mejore las ventas en tu negocio apoyando a tu departamento comercial con soluciones innovadoras.</span>
        </p>
      </div>
      <div class="col-md-5 col-sm-6">
        <div class="mt-lg mb-xl center">
          <a href="#" data-hash class="btn btn-md btn-primary mr-md appear-animation" data-appear-animation="fadeInDown" data-appear-animation-delay="300">Regístrate para más información</a>
        </div>
      </div>
    </div>

  </div>
</div>
