<div class="home-intro orange mb-none ca-med" id="home-intro">
  <div class="container">

    <div class="row">
      <div class="col-md-7 col-sm-6">
        <p class="mt-18" style="line-height:40px">
            {% if lang == "es" %}
                Descarga el último informe Ubiqua  <br> sobre logística inversa
            {% endif %}
            {% if lang == "en" %}
                Download our Whitepaper on Inverse Logistics
            {% endif %}

        </p>
      </div>
      <div class="col-md-5 col-sm-6">
        <div class="mt-lg mb-xl center">
          <a href="http://bit.ly/InformesUbiquaLogísticaInversa" data-hash class="btn btn-md btn-primary mr-md appear-animation" data-appear-animation="fadeInDown">
            {% if lang == "es" %}
               DESCARGALO AHORA
            {% endif %}
            {% if lang == "en" %}
                DOWNLOAD NOW
            {% endif %}
            </a>
        </div>
      </div>
    </div>

  </div>
</div>
