<section
  class="parallax section section-text-light section-parallax section-center mt-none mb-none pb-none"
  data-stellar-background-ratio="0.5"
  style="background-image: url('{% static 'img/index/bg.jpg' %}'); background-position: 0% -76.9083px;"
  >
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<img src="{% static 'img/index/producto.png' %}" class="img-responsive">
			</div>
    </div>
      <div class="col-md-3">
        <div class="feature-box feature-box-style-6 reverse mb-none mt-xl appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="300">
          <div class="feature-box-icon">
            <i class="fa fa-mobile text-color-primary"></i>
          </div>
          <div class="feature-box-info">
            <h4 class="mb-sm">100% Responsive</h4>
            <p class="mb-lg">Porto is fully responsive and will adapt itself to any mobile or tablet device.</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-md-offset-6">
        <div class="feature-box feature-box-style-6 mb-none mt-xl appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="300">
          <div class="feature-box-icon">
            <i class="fa fa-eye text-color-primary"></i>
          </div>
          <div class="feature-box-info">
            <h4 class="mb-sm">Retina Ready</h4>
            <p class="mb-lg">Porto is Retina Ready and your website will always looks perfect on any devices.</p>
          </div>
        </div>
      </div>
    </div>
</section>
