<section
  class="parallax section section-text-light section-parallax section-center mt-none mb-none pb-none bg_product"
  data-stellar-background-ratio="0.5"
  >
	<div class="container">
		<div class="row">
                <div class="col-md-12">
                    <div class="title3">
                        <h1>Soluciones <strong>Ubiqua</strong></h1>
                        <span>Te ayudamos a <strong>aumentar tus ventas y disminuir tus costos operativos</strong><br> con soluciones modulares que son extremadamente fáciles de usar.</span>
                    </div>
                    <img src="{% static 'img/index/producto.png' %}" class="img-responsive">
                </div>
             </div>
        
        <div class="row sub-product">
             <div class="col-md-4 col-sm-6">
                 <h4 class="featured-text">Beneficios Ubiqua</h4>
                <div class="feature-box feature-box-style-6 mb-none mt-xl appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="300">
                  <div class="feature-box-icon">
                    <i class="fa fa-mobile"></i>
                  </div>
                  <div class="feature-box-info dark right">
                    <h4 class="mb-sm ">Servicio Técnico Reactivo y Proactivo</h4>
                    <p class="mb-lg"><strong>Reactivo:</strong> nuestro servicio técnico está disponible mediante email, teléfono y whatsapp. Posee un tiempo medio de 20 minutos en solución de problemas.</p>
                    <p class="mb-lg"><strong>Proactivo:</strong> organizamos reunionen periodicas tu equipo de ventas para recibir retroalimentación y realizamos un seguimiento para asegurar que tus vendedores están aprovechando las herramientas al máximo.</p>
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-md-offset-4 col-sm-6">
                <div class="feature-box feature-box-style-6 mb-none mt-xl appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="300">
                  <div class="feature-box-icon">
                    <i class="fa fa-cloud "></i>
                  </div>
                  <div class="feature-box-info dark right">
                    <h4 class="mb-sm">Almacenamiento Propio</h4>
                    <p class="mb-lg">Nosotros nos encargamos del almacenamiento y mantenimiento de la herramienta. Olvídate de comprar servidores nuevos o contratar más personal. Utilizamos las más altas medidas de seguridad para que tu información esté protegida.
</p>
                  </div>
                </div>
                  <div class="feature-box feature-box-style-6 mb-none mt-xl appear-animation" data-appear-animation="fadeInRight" data-appear-animation-delay="300">
                  <div class="feature-box-icon">
                    <i class="fa fa-refresh"></i>
                  </div>
                  <div class="feature-box-info dark right">
                    <h4 class="mb-sm">Mejoras constantes</h4>
                    <p class="mb-lg">Constantemente, nuestros ingenieros están buscando cómo hacer el trabajo del vendedor cada más efectivo. Periódicamente lanzamos actualizaciones con nuevas funcionalidades y mejoras en la velocidad de la herramienta.
</p>
                  </div>
                </div>
              </div>

            <div class="col-md-12 mt-300-sm" style="margin-bottom: -180px;">
                <h2 class="word-rotator-title mb-sm dark medium">Conozca más de nuestras <strong>Soluciones & Servicios</strong></h2>
                <p class="lead dark medium">Visite la página de cada uno de nuestros productos para conocer todos sus detalles.</p>
                <br>
                <a href="#" data-hash class="btn btn-md btn-primary mr-md">Todos nuestros productos</a>
            </div>
        </div>
    </div>
</section>
<section class="parallax section section-text-light section-parallax section-center mt-none mb-none pb-none bg-white mt-500-sm">
	<div class="container">
    </div>
</section>
