
<section
  class="parallax section section-text-light section-parallax  mt-none mb-none bg_producto"
  data-stellar-background-ratio="0.5"
  >
	<div class="container">
         <div class="row mb-xlg center">
            <div class="col-md-12 ">
              <div class="title3">
                        <h1>Soluciones <strong>Ubiqua</strong></h1>
                        <span>Te ayudamos a <strong>aumentar tus ventas y disminuir tus costos operativos</strong><br> con soluciones modulares que son extremadamente fáciles de usar.</span>
                    </div>
            </div>
        </div>
        <hr class="tall">
        <div class="row center">
            <div class="col-md-4 mb-xl">
                <img class="img-responsive doted-border appear-animation circle" src="{% static '/img/index/ave.jpg' %}" alt="layout styles" data-appear-animation="fadeInLeft">

                <h4 class="mt-xl"><strong>Ubiqua</strong> AVE</h4>
                <p >
                    Herramienta que convierte a tu vendedor de un tomador de pedidos a un asesor de ventas.
                </p>
                <a href="{% url '/productos/ave.html' %}" class="btn btn-primary btn-sm">Conozca más de Ubiqua AVE</a>
            </div>
            


            <div class="col-md-4 mb-xl">
                <img class="img-responsive appear-animation doted-border circle " src="{% static '/img/index/poc.jpg' %}" alt="style switcher" data-appear-animation="fadeInRight">
            
                <h4 class="mt-xl">Ubiqua <strong>POC</strong></h4>
                <p >
                    Nos encargamos de la facturación de las órdenes de compra de tus clientes acelerando tu facturación y ahorrando costos operativos. 
                </p>
                <a href="{% url '/productos/poc.html' %}" class="btn btn-primary btn-sm">Conozca más de Ubiqua POC</a>
            </div>

            <div class="col-md-4 mb-xl">
                <img class="img-responsive  doted-border appear-animation circle" src="{% static '/img/index/ana.jpg' %}" alt="layout styles" data-appear-animation="fadeInLeft">
                <h4 class="mt-xl">Ubiqua <strong>ANALYTICS</strong></h4>
                <p>
                    Accesa a información de cobertura y ventas 
                </p>
                <h4>Próximamente...</h4>
            </div>
            
        </div>

    </div>
</section>
