
<section
  class="parallax section section-text-light section-parallax  mt-none mb-none bg_producto"
  data-stellar-background-ratio="0.5" id="soluciones"
  >
	<div class="container" >
         <div class="row mb-xlg center">
            <div class="col-md-12 ">
              <div class="title3">
                {% if lang == "es" %}
                    <h2>Conectamos tu <strong>Cadena de Suministro</strong></h2>
                    <span>Generamos eficiencias operativas y brindamos visibilidad </strong>de tu cadena de suministro<br> al digitalizar y conectar procesos manuales</span>
                {% endif %}
                {% if lang == "en" %}
                    <h1>Connect <strong>your Supply Chain</strong></h1>
                    <span>Digitalize manual processes<br> to gain more visibility in every step of your supply chain</span>
                {% endif %}
               </div>
            </div>
        </div>
        <hr class="tall">
        <div class="row center">
            <div class="col-md-4 mb-xl">
                {% if lang == "es" %}
                    <a href="{% url '/productos/ave.html' %}"><img class="img-responsive doted-border img-hover appear-animation circle" src="{% static '/img/index/vendedor.jpg' %}" alt="Soliciones Ubiqua AVE" data-appear-animation="fadeInLeft"></a>
                    <h4 class="mt-xl">Vendedor Preventa</h4>
                    <p >
                        Hacemos tu fuerza de venta más eficiente en su dia a dia y te damos control sobre su gestión de venta.
                    </p>
                    <a href="{% url '/productos/ave.html' %}" class="btn btn-primary btn-sm">Ver detalles</a>
                {% endif %}
                {% if lang == "en" %}
                    <a href="{% url '/en/products/ave.html' %}"><img class="img-responsive doted-border img-hover appear-animation circle" src="{% static '/img/index/ave.jpg' %}" alt="Ubiqua AVE" data-appear-animation="fadeInLeft"></a>
                    <h4 class="mt-xl">Sales Rep</h4>
                    <p >
                        Make your sales team more effective by connecting them with real time information
                    </p>
                    <a href="{% url '/en/products/ave.html' %}" class="btn btn-primary btn-sm">Read more</a>
                {% endif %}
            </div>

            


            <div class="col-md-4 mb-xl">
                
                {% if lang == "es" %}
                    <a href="{% url '/productos/poc.html' %}"><img class="img-responsive appear-animation img-hover doted-border circle " src="{% static '/img/index/poc.jpg' %}" alt="Ubiqua POC" data-appear-animation="fadeInRight"></a>
                    <h4 class="mt-xl">Supermercados</h4>
                    <p >
                        Aumentamos la rentabilidad con las cadenas aportando visibilidad y velocidad en tu gestión de pedidos. 
                    </p>
                    <a href="{% url '/productos/poc.html' %}" class="btn btn-primary btn-sm">Ver detalles</a>
                {% endif %}
                {% if lang == "en" %}
                    <a href="{% url '/en/products/poc.html' %}"><img class="img-responsive appear-animation img-hover doted-border circle " src="{% static '/img/index/poc.jpg' %}" alt="Ubiqua POC" data-appear-animation="fadeInRight"></a>
                    <h4 class="mt-xl">Supermarkets</h4>
                    <p >
                        Increase your profitability with your biggest clients by digitalizing and having visibility of their order processing
                    </p>
                    <a href="{% url '/en/products/poc.html' %}" class="btn btn-primary btn-sm">Read more</a>
                {% endif %}
            </div>

            <div class="col-md-4 mb-xl">
                
                {% if lang == "es" %}
                    <img class="img-responsive  doted-border appear-animation circle" src="{% static '/img/index/devoluciones.png' %}" alt="Ubiqua Analytics" data-appear-animation="fadeInLeft">
                    <h4 class="mt-xl">Devoluciones</h4>
                    <p>
                        Reducimos el volumen de devoluciones y agilizamos la entrega de la nota de crédito al cliente
                    </p>
                    <a href="{% url '/productos/poc.html' %}" class="btn btn-primary btn-sm">Ver detalles</a>
                {% endif %}
                {% if lang == "en" %}
                    <img class="img-responsive  doted-border appear-animation circle" src="{% static '/img/index/devoluciones.png' %}" alt="Ubiqua Analytics" data-appear-animation="fadeInLeft">
                    <h4 class="mt-xl">Returns</h4>
                    <p>
                        Decrease product returns and improve customer service
                    </p>
                    <a href="{% url '/en/products/poc.html' %}" class="btn btn-primary btn-sm">Read more</a>
                {% endif %}
            </div>
            
        </div>

    </div>
</section>
