<section
  class="parallax section section-text-light section-parallax section-center mt-none mb-none  bg_producto"
  data-stellar-background-ratio="0.5"
  >
	<div class="container">
		<div class="row">
                <div class="col-md-12">
                    <div class="title3">
                        <h1>Soluciones <strong>Ubiqua</strong></h1>
                        <span>Te ayudamos a <strong>aumentar tus ventas y disminuir tus costos operativos</strong><br> con soluciones modulares que son extremadamente fáciles de usar.</span>
                    </div>
                </div>
             </div>

    </div>
</section>
