
<section class="section section-default section-with-mockup  mt-none bg-white">
  <div class="container">
    <div class="row mb-xlg">
        <div class="col-md-12 center">
            <h2 class="word-rotator-title mb-sm">
                {% if lang == "es" %}
                    ¿Cómo mejoramos tu <strong>rentabilidad</strong> ?
                {% endif %}
                {% if lang == "en" %}
                    How do we improve your <strong>profitability</strong> ?
                {% endif %}
            </h2>
        </div>
    </div>
    <hr class="tall">
    <div class="row">
        <div class="featured-boxes featured-boxes-style-2 big">
            <div class="row">
                <div class="col-md-6">
                    <div class="featured-box featured-box-quaternary featured-box-effect-4" style="height: 199px;">
                        <div class="box-content">
                            <i class="icon-featured fa fa-search"></i>
                            <div class="title">
                                <h2>
                                {% if lang == "es" %}
                                    Somos expertos en tu <strong>proceso de ventas</strong>
                                {% endif %}
                                {% if lang == "en" %}
                                    Somos expertos en tu <strong>proceso de ventas</strong>
                                {% endif %}
                                </h2>
                            </div>
                            <p class="lead2">
                                {% if lang == "es" %}
                                    Nos volvemos expertos en tu proceso de ventas. Entendemos qué venden, cómo lo venden y a quién.
                                {% endif %}
                                {% if lang == "en" %}
                                    We become experts in your sales process. We study what you sell, how you sell it and to whom
                                {% endif %}
                            </p>
                                {% if lang == "es" %}
                                <a href="https://ubiquame.wordpress.com/2013/07/26/diseno-y-desarrollo-de-productos/" class="btn btn-primary btn-sm">Aprende más sobre nuestra metodología</a>
                                {% endif %}
                                {% if lang == "en" %}
                                <a href="https://ubiquame.wordpress.com/2013/07/26/diseno-y-desarrollo-de-productos/" class="btn btn-primary btn-sm">Learn more about our research methodology</a>
                                {% endif %}

                            <br>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="featured-box featured-box-quaternary featured-box-effect-4" style="height: 199px;">
                        <div class="box-content">
                            <i class="icon-featured fa fa-refresh"></i>
                            <div class="title">
                                <h2>
                                    {% if lang == "es" %}
                                        Sincronización de tus <strong>Datos</strong>
                                    {% endif %}
                                    {% if lang == "en" %}
                                        Data <strong> Synchronisation</strong>
                                    {% endif %}
                                    
                                </h2>
                            </div>
                            <p class="lead2">
                                {% if lang == "es" %}
                                    Sincronizamos tu información comercial con nuestras soluciones tecnológicas para maximizar tus recursos actuales
                                {% endif %}
                                {% if lang == "en" %}
                                    We connect our solutions to your sales data source so you can take advantage of real time information
                                {% endif %}
                            </p>
                                {% if lang == "es" %}
                                <a href="{% url '/productos/implementacion.html' %}" class="btn btn-primary btn-sm">Aprende más sobre cómo nos sincronizamos</a>
                                {% endif %}
                                {% if lang == "en" %}
                                <a href="{% url '/en/products/integration.html' %}" class="btn btn-primary btn-sm">Learn more about our integration </a>
                                {% endif %}
                            <br>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <br>
    </div>
  </div>
</section>