
<section class="section section-default section-with-mockup  mt-none bg-white">
  <div class="container">
    <div class="row">
        <div class="center">
            <h2 class="word-rotator-title">
                {% if lang == "es" %}
                     Somos expertos diseñando e implementando <strong> proyectos de innovación y software </strong> en la cadena de suministro
                {% endif %}
                {% if lang == "en" %}
                    We succesfully implement <strong> projects to innovate </strong> your company's supply chain  
                {% endif %}

            </h2>
        </div>
    </div>
    <hr class="tall">
  <div class="container">
    <div class="row mb-xlg">
        <div class="col-md-12 center">
            <h2 class="word-rotator-title mb-sm">
                {% if lang == "es" %}
                   Proceso de Innovación <strong>Ubiqua </strong>
                {% endif %}
                {% if lang == "en" %}
                    Our innovation process
                {% endif %}
            </h2>
        </div>
    </div>
<div class="row">
                <div class="featured-boxes featured-boxes-2">
                    <div class="col-md-3">
                        <div class="featured-box featured-box-primary featured-box-effect-4" style="height: 199px;">
                            <div class="box-content">
                                <i class="icon-featured"><img src="{% static '/img/icon/analisis.png' %}" alt="Soporte técnico - Ubiqua"></i>
                                {% if lang == "es" %}
                                    <h4>1. Análisis</h4>
                                    <hr>

                                    
                                        Conocemos las mejores prácticas a nivel global y las adaptamos a la realidad del cliente
                                    
                                {% endif %}
                                {% if lang == "en" %}
                                    <h4>1. Analysis</h4>
                                    <hr>


                                {% endif %}


                            </div>
                        </div>
                    </div>
                </div>
                <div class="featured-boxes featured-boxes-2">
                    <div class="col-md-3">
                        <div class="featured-box featured-box-primary featured-box-effect-4" style="height: 199px;">
                            <div class="box-content">
                                <i class="icon-featured"><img src="{% static '/img/icon/diseno.png' %}" alt="Soporte técnico - Ubiqua"></i>
                                {% if lang == "es" %}
                                    <h4>2. Diseño</h4>
                                     <hr>
                                    Ideamos y ejecutamos soluciones enfocadas en resultados
                                {% endif %}
                                {% if lang == "en" %}
                                    <h4>2. Design</h4>
                                   <hr>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
                <div class="featured-boxes featured-boxes-2">
                    <div class="col-md-3">
                        <div class="featured-box featured-box-primary featured-box-effect-4" style="height: 199px;">
                             <div class="box-content">
                                <i class="icon-featured"><img src="{% static '/img/icon/acompanamiento.png' %}" alt="Soporte técnico - Ubiqua"></i>
                         {% if lang == "es" %}
                                    <h4>3. Acompañamiento</h4>
                                    <hr>
                                    Acompañamos al cliente durante el cambio para asegurar el éxito del proyecto
                                {% endif %}
                                {% if lang == "en" %}
                                    <h4>3. Execution</h4>
                                    <hr>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                <div class="featured-boxes featured-boxes-2">
                    <div class="col-md-3">
                        <div class="featured-box featured-box-primary featured-box-effect-4" style="height: 199px;">
                            <div class="box-content">
                                <i class="icon-featured"><img src="{% static '/img/icon/resultados.png' %}" alt="Soporte técnico - Ubiqua"></i>
                                {% if lang == "es" %}
                                    <h4>4. Resultados</h4>
                                    <hr>
                                    Medimos el impacto de lo implementado en la compañía
                                {% endif %}
                                {% if lang == "en" %}
                                    <h4>4. Results</h4>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>



        </div>
  </div>
</section>
