
<section class="section section-default section-with-mockup  mt-none bg-white">
  <div class="container">
    <div class="row mb-xlg">
        <div class="col-md-12 center">
          <h2 class="word-rotator-title mb-sm">¿Cómo mejoramos tu <strong>rentabilidad</strong></h2>
          <p class="lead">Implementamos de forma rápida soluciones innovadoras para su departamento de ventas</p>
        </div>
    </div>
    <hr class="tall">
    <div class="row">
        <div class="col-md-6  center">
            <img class="img-responsiveappear-animation circle icon doted-border" src="http://placehold.it/350x350" alt="layout styles" data-appear-animation="fadeInLeft">
            <div class="title">
                <h2>Somos expertos en tu <strong>proceso de ventas</strong></h2>
             </div>
            <p class="lead2">
                Nos volvemos expertos en tu proceso de ventas. Entendemos qué venden, cómo lo venden y a quién
            </p>
            <a href="https://ubiquame.wordpress.com/2013/07/26/diseno-y-desarrollo-de-productos/" class="btn btn-primary btn-sm">Aprende más sobre nuestra metodología</a>
             <br>
        </div>
       

        <div class="col-md-6 center">
            <img class="img-responsive appear-animation circle icon doted-border" src="http://placehold.it/350x350" alt="style switcher" data-appear-animation="fadeInRight">
            <div class="title">
                <h2>Sincronización de tus <strong>Datos</strong></h2>
            </div>
            <p class="lead2">
                Sincronizamos tu información comercial con nuestras soluciones tecnológicas para maximizar tus recursos actuales
            </p>
            <a href="{% url '/productos/implementacion.html' %}" class="btn btn-primary btn-sm">Aprende más sobre cómo nos sincronizamos</a>
             <br>
        </div>
        <br>
    </div>
  </div>
</section>