<section class="section section-default  mb-none mt-none bg-white" >
    <div class="container">
        <div class="row">
            <div class="col-md-12 center">
              <h2 class="word-rotator-title mb-sm">Nuestro servicio de <strong>Implementación y Soporte</strong></h2>
              <p class="lead">Ofrecemos un servicio completo donde No te tienes que preocupar por nada. Tenemos el personal y la infraestructura necesaria para que no seamos un peso para tu empresa si no un aliado estratégico</p>
            </div>
        </div>

        <div class="row">
                <div class="featured-boxes featured-boxes-2">
                    <div class="col-md-4">
                        <div class="featured-box featured-box-primary featured-box-effect-4" style="height: 199px;">
                            <div class="box-content">
                                <i class="icon-featured"><img src="{% static '/img/icon/people.png' %}"></i>
                                <h4>Soporte técnico</h4>
                                <hr>
                                <ul>
                                    <li>Directo y rápido a usuarios y gerentes.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="featured-boxes featured-boxes-2">
                    <div class="col-md-4">
                        <div class="featured-box featured-box-primary featured-box-effect-4" style="height: 199px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-server"></i>
                                <h4>Almacenamiento y mantenimiento de servidores</h4>
                               <hr>
                                <ul>
                                    <li>Almacenamiento y mantenimiento de servidores</li>
                                    <li>Olvídate de comprar servidores nuevos o contratar más personal.<br>Información bajo las mejores prácticas de seguridad.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="featured-boxes featured-boxes-2">
                    <div class="col-md-4">
                        <div class="featured-box featured-box-primary featured-box-effect-4" style="height: 199px;">
                            <div class="box-content">
                                <i class="icon-featured fa fa-refresh"></i>
                                <h4>Mejoras y actualizaciones</h4>
                                <hr>
                                <ul>
                                    <li>Nuestras soluciones cada vez son más eficientes.</li>
                                    <li>Todas nuestras mejoras son validadas por usuarios para asegurarnos que sean fáciles de usar</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

               

        </div>
        
</section>
