<section class="section section-default  mb-none mt-none bg-white" >
    <div class="container">
        <div class="row mb-xlg">
            <div class="col-md-12 ">
              <h2 class="word-rotator-title mb-sm">Nuestro servicio de <strong>Implementación y Soporte</strong></h2>
              <p class="lead">Ofrecemos un servicio completo donde No te tienes que preocupar por nada. Tenemos el personal y la infraestructura necesaria para que no seamos un peso para tu empresa si no un aliado estratégico</p>
            </div>
        </div>

        <div class="row mb-xlg">

            <div class="col-md-6 ">
                <div class="feature-box dark mb-none  appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="300">
                  <div class="feature-box-icon">
                    <i class="fa fa-life-ring" aria-hidden="true"></i>
                  </div>
                  <div class="feature-box-info dark right">
                    <h4 class="mb-sm ">Soporte técnico</h4>
                    <ul>
                        <li>Directo y rápido a usuarios y gerentes.</li>
                    </ul>
                  </div>
                </div>
                <div class="feature-box dark mb-none mt-xl appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="300">
                  <div class="feature-box-icon">
                    <i class="fa fa-server" aria-hidden="true"></i>
                  </div>
                  <div class="feature-box-info dark right">
                    <h4 class="mb-sm ">Almacenamiento y mantenimiento de servidores</h4>
                    <ul>
                        <li>Olvídate de comprar servidores nuevos o contratar más personal. </li>
                        <li>Información bajo las mejores prácticas de seguridad.</li>
                    </ul>
                  </div>
                </div>
                <div class="feature-box dark mb-none mt-xl appear-animation" data-appear-animation="fadeInLeft" data-appear-animation-delay="300">
                  <div class="feature-box-icon orange">
                    <i class="fa fa-refresh"></i>
                  </div>
                  <div class="feature-box-info dark right">
                    <h4 class="mb-sm ">Mejoras y actualizaciones</h4>
                    <ul>
                        <li>Nuestras soluciones cada vez son más eficientes</li>
                        <li>Todas nuestras mejoras son validadas por usuarios para asegurarnos que sean fáciles de usar</li>
                    </ul>
                  </div>
                </div>
                
			</div>
            <div class="col-md-3 center result">
                <h5>Calificación de servicio</h5>
                <small>Calificación de nuestro servicio<br> en la última encuesta realizada.</small>
                <br><br>
                <div class="circular-bar">
                    <div class="circular-bar-chart" data-percent="96" data-plugin-options='{"size": 200, "lineWidth": 17, "lineCap": "square", "scaleColor": "#999", "barColor": "#f57c3a"}'>
                        <strong>96%</strong>
                        <label>Efectividad</label>
                    </div>
                </div>
            </div>
            <div class="col-md-3 center result">
                <h5>Tiempo de Respuesta</h5>
                <small>Nuestro tiempo de respuesta promedio<br> a una solicitud de soporte</small>
                <br><br>
                <div class="circular-bar">
                    <div class="circular-bar-chart" data-percent="33" data-plugin-options='{"size": 200, "lineWidth": 17, "lineCap": "square", "scaleColor": "#999", "barColor": "#f57c3a"}'>
                        <strong>20</strong>
                        <label>Minutos</label>
                    </div>
                </div>
            </div>

        </div>
        
</section>
