<div class="container mt-xl mb-xl">
	<div class="row">
						<div class="col-md-12 center">
							<h2 class="word-rotator-title mb-lg">
								Servicios
							</h2>

							<p class="lead">
								Ofrecemos un servicio completo donde No te tienes que preocupar por nada. Tenemos el personal y la infraestructura necesaria para que no seamos un peso para tu empresa si no un aliado estratégico
							</p>

							<hr class="tall">
						</div>
					</div>
					<div class="row">

            {# SERVICES_LIST defined in services_context.py #}
            {% for featured_item in SERVICES_LIST %}
              <div class="col-md-4">
  							<div class="feature-box feature-box-style-2">
  								<div class="feature-box-icon">
  									<i class="fa {{ featured_item.icon }}"></i>
  								</div>
  								<div class="feature-box-info">
  									<h4 class="mb-none">{{ featured_item.title }}</h4>
  									<p class="tall">{{ featured_item.text }}</p>
  								</div>
  							</div>
              </div>
            {% endfor %}
						</div>
					</div>
				</div>
