<section class="section section-primary mt-none mb-none p-30">
    <div class="container">
        <div class="row">
            <div class="counters counters-text-light">
                <div class="col-md-3 col-sm-6">
                    <div class="counter">
                        <i class="fa fa-group"></i>
                        <strong data-to="9" data-append="%"></strong>
                        <label>Aumento visitas<br>a clientes</label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="counter">
                        <i class="fa fa-money"></i>
                        <strong data-to="13" data-append="%"></strong>
                        <label>Disminución de coste<br> por devoluciones</label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="counter">
                        <i class="fa fa-phone"></i> 
                        <strong data-to="78" data-append="%"></strong>
                        <label>Disminución de <br>llamadas a central</label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="counter">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        <strong data-to="50" data-append="%"></strong>
                        <label>Disminución en tiempo<br> de capacitación ventas</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>