<div class="container mt-xl">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 center">
        <h2>Beneficios</h2>
        <p class="lead">Mejora el servicio al cliente con vendedores mejor informados, y zaz que tus nuevos empleados se vuelvan productivos en pocas horas.</p>
      </div>

      <div class="col-sm-4">
        <p><strong>En las tiendas de conveniencia:</strong><br />
           suelen ser negocios de nucleos familiares donde permanece la informalidad. Desde Ave, el vendedor hace el pedido frente al cliente, le comunica su estado de cuenta para que no vayan a retener su pedido.</p>
      </div>

      <div class="col-sm-4">
        <p><strong>En farmacias:</strong><br />
           Desde la aplicacion., el vendedor le ofrece las ofertas que tiene por laboratorios. Le muestra los productos nuevos y lee desde la aplicaicon los beneficios que tienen. Por ultimo, hacen el pedido siempre teniendo en consideracion el inventario en linea para no pedir cosas que no hay y se queden las estanterías vacías
      </div>

      <div class="col-sm-4">
        <p><strong>En los supermercados:</strong><br />
           La mayoria de los supermercados generan una orden de compra con el pedido. En este caso el vendedor funciona con asesor que recomienda productos al cliente. Con AVE, el vendedor puede facilmente mostrar los productos nuevos, informar el inventario. Despues que se genera la orden de compra, nosotros la procesamos automáticamente y al vendedor le queda una copia del pedido para darle seguimiento de que llegue y para seguir ofreciendo a su cliente de manera más informada.
      </div>
    </div>
  </div>
</div>
