<section class="section section-primary mt-none">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
      <div class="counters counters-text-light">

    			<div class="col-sm-4 center">
            <div style="animation-delay: 300ms;" class="counter counter-primary appear-animation bounceIn appear-animation-visible counter-with-unit counter-primary">
    					<strong data-to="9">9</strong>
    					<strong>%</strong>
    					<label>Aumento de visitas diarias a clientes</label>
    				</div>
    			</div>


  				<div class="col-sm-4 center">
            <div style="animation-delay: 600ms;" class="counter counter-primary appear-animation bounceIn appear-animation-visible counter-with-unit counter-primary">
  						<strong data-to="13">13</strong>
    					<strong>%</strong>
  						<label>Menos en costos de devoluciones por error humano</label>
  					</div>
  				</div>


				<div class="col-sm-4 center">
          <div style="animation-delay: 900ms;" class="counter counter-primary appear-animation bounceIn appear-animation-visible counter-with-unit counter-primary">
						<strong data-to="78">78</strong>
            <strong>%</strong>
						<label>Menos llamadas a la oficina central</label>
					</div>
				</div>

			</div>
    </div>
  </div>

  </div>
</section>
