<section class="section section-default mb-none">
  <div class="container">
    <div class="row">

      <div class="col-sm-4">
        <h2>Descripción del producto</h2>
        <p class="lead">Ubiqua AVE es una aplicación que empodera al vendedor para que haga todas sus funciones de la manera más efectiva</p>
        <p>El roll del vendedor va mucho más allá de ser el que digita los pedidos. Es la cara de tu empresa en la calle, el contacto directo con tus clientes. Cuando un cliente tiene un problema, al primero que llama es al vendedor y él debe tener las herramientas para cumplir su labor.  </p>
      </div>

      <div class="col-sm-8">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Funcionalidad</th>
              <th>Explicación</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Catálogo digital</td>
              <td>
                Reemplaza el catálogo de cientos de hojas. El vendedor puede mostrar fotos, precios para cada cliente, descuentos e información detallada de los productos que ofrece
                Ya no tiene que llamar a la oficina para pedir precios actualizados
                La información está toda en tiempo real y sincronizada con las bases de datos de la empresa
              </td>
            </tr>

            <tr>
              <td>2</td>
              <td>Envío de pedidos</td>
              <td>Envío de pedidos directamente al sistema central sin necesidad de dictar por teléfono o regresar a la oficina</td>
            </tr>

            <tr>
              <td>3</td>
              <td>Reusar pedidos anteriores</td>
              <td>Opción para usar un pedido hecho anteriormente para crear uno nuevo. Con esto, el vendedor se ahorra mucho tiempo porque no tiene que digitar los productos nuevamente.</td>
            </tr>

            <tr>
              <td>4</td>
              <td>Notifica devoluciones desde la calle</td>
              <td>Reporta devoluciones de productos directamente a crédito y cobros en vez de tener que llenar una libreta y llevar ese papel físico a la oficina.</td>
            </tr>

            <tr>
              <td>5</td>
              <td>Toma de inventario de productos en punto de venta</td>
              <td>Reportar disponibilidad de productos que vende la empresa en el punto de venta. Esto alimenta al equipo de mercadeo.</td>
            </tr>

            <tr>
              <td>6</td>
              <td>Acceso a Inventario en línea</td>
              <td>Así el vendedor le comunica al cliente que no tiene algo disponible y le ofrece sustitutos.</td>
            </tr>

            <tr>
              <td>7</td>
              <td>Búsqueda de productos instantánea</td>
              <td>
                El usuario encuentra cualquier producto filtrando por código, nombre o marca sin hacer esperar al cliente.
                Ya no tiene que buscar en catálogos con cientos de páginas.
              </td>
            </tr>

            <tr>
              <td>8</td>
              <td>Revisa tan pronto el pedido se ha factura y mira su numero interno de factura</td>
              <td>Sabemos que el trabajo del vendedor va mucho más allá de la venta. El se encarga que su cliente reciba el pedido en el tiempo prometido. Desde la aplicación, el vendedor ve cuándo se facturó el pedido y ve el número de Factura para darle seguimiento durante la entrega.</td>
            </tr>

            <tr>
              <td>9</td>
              <td>Historial de pedidos y cotizaciones</td>
              <td>Acceso a todos los pedidos y cotizaciones hechos anteriormente con la aplicación para utilizarlos como herramienta de ventas</td>
            </tr>

            <tr>
              <td>10</td>
              <td>Descuentos y bonificaciones</td>
              <td>
                Parte del trabajo del vendedor es negociar con el cliente. Para esto, muchas empresas le permiten a sus vendedores ofrecer regalías o bonificaciones. Con AVE, el vendedor:<br />
                1. Filtra los productos que tienen opción de regalías<br />
                2. Informa de los detalles de la regalías<br />
                3. Aplica regalías en el pedido<br />
              </td>
            </tr>

            <tr>
              <td>11</td>
              <td>Envío de cotizaciones</td>
              <td>Envío de cotizaciones personalizadas al frente del cliente por medio de correo electrónico</td>
            </tr>

            <tr>
              <td>12</td>
              <td>Convertir cotización a pedido</td>
              <td>Tan pronto un cliente acepta la cotización, el vendedor la convierte a pedidos con sólo un click.</td>
            </tr>

            <tr>
              <td>14</td>
              <td>Ver informacion de credito y cobro</td>
              <td>El vendedor comunica al cliente su saldo hasta la fecha y le notifica en caso de que esté moroso o próximo a llegar a su límite de crédito. Así el vendedor se asegura que el pedido de su cliente no quede retenido por falta de información de crédito en la calle</td>
            </tr>

            <tr>
              <td>13</td>
              <td>Funcionamiento Offline</td>
              <td>Cuando el vendedor pierda la señal de internet, él utiliza su herramienta sin ninguna interrupción y, al momento de mandar un pedido, este se guarda en el celular hasta encontrar señal.</td>
            </tr>
          </tbody>

        </table>

      </div>

    </div>
  </div>
</section>
