<section class="section mt-xl">
  <div class="container">
    <div class="row">

      <div class="col-sm-4">
        <h2>Implementación</h2>
        <p class="lead">En menos de  3 meses</p>
        <p>Asignamos a un gerente de Proyecto que se encarga desde que el cliente acepta trabajar con nosotros hasta que todos los usuarios quedan capacitados y listos para salir a la calle.</p>
      </div>

      <div class="col-md-8">
        <ol>
          <li>Para asegurarnos que el producto se adapta a las necesidades del cliente, revisamos cuales funcionalidades son relevantes para los usuarios</li>
          <li>
            Asignacion de gerente de proyecto encargado de
            <ul>
              <li>Hacer cronograma de implementacion con fechas de ejecucion</li>
              <li>Hacer Reuniones periodicas de avances con encargado de parte del cliente</li>
              <li>Coordinar con equipo técnico del cliente y de Ubiqua para</li>
            </ul>
          </li>
          <li>
            Asesoramiento en calidad de información en tu sistema
            <ul>
              <li>Localizamos oportunidades para mejorar la calidad de tu información para que tus vendedores puedan sacarle el mayor provecho posible.</li>
            </ul>
          </li>
          <li>
            Hacer integracion con cliente
            <ul>
              <li>Nosotros nos conectamos al sistema ERP que tengas</li>
              <li>a travez de un middleware (dibujo que explica proceso)</li>
              <li>Integraciones ya hechas: Peachtree 2015, 2014, ELconix, NAF, AS400, SAP business ONE…</li>
              <li>Tambien tenemos la opcion de conectarnos a travez de un archivo CSV</li>
              <li>Capacitación de todos los usuarios.</li>
            </ul>
          </li>
        </ol>
        <p>Seguimiento proactivo en el primer mes para asegurarnos que todos los usuarios esten aprovechando la herramienta al maximo.</p>
      </div>
    </div>
  </div>
</div>
