<div class="container mt-xl">
  <div class="row">

    <div class="col-sm-4">
      <h2>Servicio</h2>
      <p>Ofrecemos un servicio completo donde No te tienes que preocupar por nada. Tenemos el personal y la infraestructura necesaria para que no seamos un peso para tu empresa si no un aliado estratégico.</p>
    </div>

    <div class="col-sm-4">
      <strong>Soporte técnico directo al usuario:</strong>
      <ul>
        <li>Reactivo
            <ul>
              <li>Disponibles en whatsapp, teléfono y correo</li>
              <li>20min promedio de respuesta</li>
            </ul>
        </li>
        <li>Proactivo:
          <ul>
              <li>Reuniones periódicas con tu equipo de ventas para recibir retroalimentación</li>
              <li>Seguimiento para asegurar que tus vendedores están aprovechando la herramienta al máximo</li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="col-sm-4">
      <ul>
        <li>
          Almacenamiento:
          <ul>
            <li>Nosotros nos encargamos del almacenamiento y mantenimiento de la herramienta. Olvídate de comprar servidores nuevos o contratar más personal</li>
            <li>Utilizamos las más altas medidas de seguridad para que tu información esté protegida</li>
          </ul>
        </li>

        <li>
          Mejoras
          <ul>
            <li>Constantemente, nuestros ingenieros están buscando cómo hacer el trabajo del vendedor cada más efectivo. </li>
            <li>Periódicamente lanzamos actualizaciones con nuevas funcionalidades, mejoras en la velocidad de la herramienta </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

</div>
