<div class="container mb-xl">
  <div class="row">

    <div class="col-sm-4">
      <h2>Atención al Cliente</h2>
      <p class="lead">Nuestra estrategia para brindar mejor servicio</p>
    </div>

    <div class="col-sm-4">
      <ul>
        <li>Horario de atención: de lunes a viernes de 8am a 6pm y sábados de 8am a 12pm.</li>
        <li>Utilización de sistema centralizado de tiquetes que mide nuestra efectividad</li>
        <li>Visitas y seguimientos a usuarios nuevos para asegurar la utilización óptima de la aplicación y apoyar en lo que necesiten</li>
        <li>Material de aprendizaje como videos y preguntas frecuentes para el constante aprendizaje del vendedor</li>
      </ul>
    </div>

    <div class="col-sm-4">
      <p><strong>Resultados de nuestro servicio al cliente:</strong>
        <ul>
          <li>Nuestro tiempo de respuesta promedio es de 20 minutos.</li>
          <li>Calificación de 96% de excelencia de nuestro servicio en la última encuesta que hicimos.</li>
        </ul>
      </p>
    </div>

  </div>
</div>
