page_title: AVE - Catálogos productos
title: AVE: Aplicacion de Ventas Móvil
subtitle: Dale a tu vendedor las herramientas y la motivación para vender más.
page_keywords: Lorem Ipsum
page_description: Lorem Ipsum
lang: es
en_url: ../../en/products/ave/

{% extends "base_page.html" %}

{% block title %}

{% include "slider/container_ave.html" %}


{% endblock %}
{% block content %}
<div class="row mb-none mt-xlg">
    <div class="col-md-12 center">
        <h2 class="word-rotator-title mb-sm">Funcionalidades y beneficios de <strong>Ubiqua AVE</strong></h2>
        <hr class="tall">
    </div>
</div>
<section class="section section-default bg-white section-with-mockup mt-none mb-none border-none">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="title">
                    <h2>Equipa a tu vendedor con las <strong>mejores herramientas</strong> para atender a su cliente</h2>

                </div>

                <p>Clientes contentos compran más. Ubiqua AVE tiene todo lo que un vendedor necesita para hacer el proceso de venta lo más rápido y cómodo posible. Tus clientes quedarán sorprendidos con la eficiencia de tu vendedor. </p>
                <br>
                <a href="#" data-hash="" class="mb-xl btn btn-md btn-primary mr-md appear-animation fadeInDown appear-animation-visible" data-toggle="modal" data-target="#formModal">Contáctenos para una prueba</a>


            </div>
            <div class="col-md-7 col-md-offset-1">
                <div class="thumb-gallery">
                    <div class="owl-carousel owl-theme manual thumb-gallery-detail show-nav" id="thumbGalleryDetail2">
                        <div>

                            <div class="ave-product">
                                <img alt="Project Image" src="{% static '/img/productos/ave/cel_pedido.jpg' %}" class="img-responsive">
                            </div>
                            <div class="ave-product-desc">
                                <i class="fa fa-send ave-product-icon"></i>
                                <hr>
                                <h4>Envío de cotizaciones y pedidos</h4>
                                <p>Envío de cotizaciones personalizadas por medio de correo electrónico de forma inmediata y al frente del cliente.</p>
                            </div>
                        </div>
                        <div>

                            <div class="ave-product">
                                <img alt="Project Image" src="{% static '/img/productos/ave/cel_catalogo.jpg' %}" class="img-responsive">
                            </div>
                            <div class="ave-product-desc">
                                <i class="fa fa-book ave-product-icon"></i>
                                <hr>
                                <h4>Catalogo digital con Fotos </h4>
                                <p>Información completa de todos sus productos en tiempo real. Incluye precios actualizados por cliente, imágenes e información detallada de cada producto.</p>
                            </div>
                        </div>
                        <div>

                            <div class="ave-product">
                                <img alt="Project Image" src="{% static '/img/productos/ave/cel_clientes.jpg' %}" class="img-responsive">
                            </div>
                            <div class="ave-product-desc">
                                <i class="fa fa-briefcase ave-product-icon"></i>
                                <hr>
                                <h4>Ruta de Clientes</h4>
                                <p> El vendedor sabe a quién atender y cuándo visitarlo. Cada vendedor tiene su cartera de clientes personalizada y organizada con sus días de visita</p>
                            </div>
                        </div>
                        <div>

                            <div class="ave-product">
                                <img alt="Project Image" src="{% static '/img/productos/ave/cel_financiero.jpg' %}" class="img-responsive">
                            </div>
                            <div class="ave-product-desc">
                                <i class="fa fa-dollar ave-product-icon"></i>
                                <hr>
                                <h4>Información de Crédito, Saldo y Cobros</h4>
                                <p>El vendedor comunica al cliente su saldo hasta la fecha y le notifica en caso de que esté moroso o próximo a llegar a su límite de crédito.</p>
                            </div>
                        </div>
                        <div>

                            <div class="ave-product">
                                <img alt="Project Image" src="{% static '/img/productos/ave/cel_inventario.jpg' %}" class="img-responsive">
                            </div>
                            <div class="ave-product-desc">
                                <i class="fa fa-cubes ave-product-icon"></i>
                                <hr>
                                <h4>Inventario de producto en vivo</h4>
                                <p>Consulta en tiempo real la disponibilidad de un producto, evitando posibles errores y cambios en los pedidos.</p>
                            </div>
                        </div>
                        <div>

                            <div class="ave-product">
                                <img alt="Project Image" src="{% static '/img/productos/ave/cel_status.jpg' %}" class="img-responsive">
                            </div>
                            <div class="ave-product-desc">
                                <i class="fa fa-info ave-product-icon"></i>
                                <hr>
                                <h4>Status de Pedidos</h4>
                                <p>Acceso a todo el historial de pedidos y cotizaciones realizadas con su estado, desde la toma del pedido hasta que se emite la factura.</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>


<section style="padding:90px 0px;" class="section section-default section-with-mockup mb-none mt-none bg_producto section-text-light">
    <div class="container">
        <div class="row">

            <div class="col-md-7">
                <div class="thumb-gallery">
                    <div class="owl-carousel owl-theme manual thumb-gallery-detail show-nav" id="thumbGalleryDetail3">
                        <!--<div>
                                <i class="fa fa-comment ave-product-icon2"></i>
                                <h4><br>Comunica información crucial de venta</h4>
                            <br>
                                <img alt="Project Image" src="{% static '/img/productos/ave/tablet.png' %}" class="img-responsive">
                        </div>-->
                        <div>
                                <i class="fa fa-flag-checkered ave-product-icon2"></i>
                                <h4><br>Despliega las metas de venta </h4>
                            <br>
                                <img style="width: 80%;margin: 0 10%;" alt="Project Image" src="{% static '/img/productos/ave/metas.png' %}" class="img-responsive">
                        </div>
                       <!-- <div>
                                <i class="fa fa-trophy ave-product-icon2"></i>
                                <h4><br>Crea torneos con incentivos </h4>
                            <br>
                                <img alt="Project Image" src="{% static '/img/productos/ave/tablet.png' %}" class="img-responsive">
                        </div>-->


                    </div>


                </div>
            </div>
            <div class="col-md-5 mt-80">
                <div class="title mt-50">
                    <h1>Motiva a tus vendedores a <strong>vender más</strong></h1>
                    <p class="lead"></p>
                </div>

                <p>Es dificil monitorear el trabajo de tus vendedores que están todo el dia en la calle. Incentivalos a vender lo más posible con una comunicación eficiente, monitoreo de metas, y mecanismos de torneo!</p>
                <br>
                <a href="#" data-hash="" class="mb-xl btn btn-md btn-primary mr-md appear-animation fadeInDown appear-animation-visible" data-toggle="modal" data-target="#formModal">Contáctenos para una prueba</a>


            </div>
        </div>
    </div>
</section>



<section class="section section-default section-with-mockup mb-none mt-none bg-orange">
<div class="container">
      <div class="row mt-xl">
        <div class="counters counters-text-dark">
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="counter appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
              <i class="fa fa-list"></i>
              <strong class="count" data-num="1100000" text-final="1,100,000" data-prepend="+"></strong>
              <label>Pedidos</label>
              <p class=" mb-xl">a través de nuestro sistema</p>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="counter appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="900">
              <i class="fa fa-user"></i>
              <strong class="count" data-num="700" text-final="700" data-prepend="+"></strong>
              <label>Vendedores</label>
              <p class=" mb-xl">usando nuestra aplicación</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="counter appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="900">
              <i class="fa fa-mobile" aria-hidden="true"></i>
                <strong class="count" data-num="800" text-final="800" data-prepend="+"></strong>
              <label>Puntos de Venta</label>
              <p class=" mb-xl">en Panamá</p>
            </div>
          </div>
         <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="counter appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
              <i class="fa fa-dollar"></i>
              <strong class="count" data-num="1000000" text-final="1,000,000" data-prepend="+"></strong>
              <label>Ventas</label>
              <p class=" mb-xl">a través de Ubiqua AVE</p>
            </div>
          </div>
        </div>
      </div>

</div>

</section>
<div class="container mt-xlg mb-lg">
    <br>
    <div class="row">
        <div class="title">
            <h2>Otras <strong> características  importantes</strong></h2>
            <p>Ubiqua AVE es la herramienta para vendedores más amigable y flexible en el mercado.</p>
        </div>
        <hr>
       <div class="col-md-3  center">
            <img class="img-responsiveappear-animation circle icon " src="{% static '/img/productos/ave/responsive.png' %}" alt="layout styles" data-appear-animation="fadeInLeft">
            <div class="title">
                <h4>Multiplataforma</h4>
             </div>
            <p class="lead2">
                Vende cuando sea, donde sea. Tus vendedores pueden vender desde su celular, computadora, o tablet.
            </p>
             <br>
        </div>


        <div class="col-md-3 center">
            <img class="img-responsive appear-animation circle icon" src="{% static '/img/productos/ave/offline.png' %}" alt="style switcher" data-appear-animation="fadeInRight">
            <div class="title">
                <h4>Modo offline</h4>
            </div>
            <p class="lead2">
               No dejes que mala señal afecte tus ventas. AVE funciona sin necesidad de internet.
            </p>

             <br>
        </div>
        <div class="col-md-3  center">
            <img class="img-responsiveappear-animation circle icon " src="{% static '/img/productos/ave/seg.png' %}" alt="layout styles" data-appear-animation="fadeInLeft">
            <div class="title">
                <h4>Seguridad</h4>
             </div>
            <p class="lead2">
                Cada vendedor tiene su cuenta personalizada y segura.
            </p>
             <br>
        </div>


        <div class="col-md-3 center">
            <img class="img-responsive appear-animation circle icon" src="{% static '/img/icon/refresh.png' %}" alt="style switcher" data-appear-animation="fadeInRight">
            <div class="title">
                <h4>Sincronización con  ERP</h4>
            </div>
            <p class="lead2">
                Flexibilidad de sincronización con cualquier sistema ERP.</p>

             <br>
        </div>
    </div>


</div>

{% include "index/clients_quotes.html" %}
{% endblock %}

{% block scripts %}
<script>
    $(window).load(function() {

        $('.count').each(function() {
            var $this = $(this);
            animateNumber($this);

        });

    });
    function animateNumber($element){
        var final = $element.attr("data-num");
        var final_text = $element.attr("text-final");
        var pre = $element.attr("data-prepend");
        /*alert(final + ' ' + final_text );*/
        jQuery({Counter: 0}).animate({Counter: final}, {
                duration: 3000,
                easing: 'swing',
                step: function() {
                    var num = Math.ceil(this.Counter).toString();
                    if(Number(num) > 999){
                        while (/(\d+)(\d{3})/.test(num)) {
                            num = num.replace(/(\d+)(\d{3})/, '$1' + ',' + '$2');
                        }
                    }
                    $element.text(num);

                },
                complete: function(){
                    $element.text(pre+final_text);
                }
            });
    }

</script>
{% endblock %}
