page_title: Implementación de Soluciones - Ubiqua Panamá
page_keywords: Lorem Ipsum
page_description: Lorem Ipsum
custom_background: /img/implementacion/background.jpg

{% extends "base.html" %}

{% block content %}
{% include "implementacion/intro.html" %}
<div class="container">
<div class="row mb-none mt-xlg">
    <div class="col-md-12 center">
        <h2 class="word-rotator-title mb-sm">Sincronización de <strong>sus datos</strong> </h2>
        <p class="lead">Para que nuestros servicios sean aprovechados al máximo, nosotros sincronizamos la información de tu empresa con nuestros servicios. De esta manera, tus vendedores, supervisores y gerentes ven tu información en tiempo real y ustedes evitan trabajo doble y errores. </p>

        <hr class="tall">
    </div>
</div>
    



{% endblock %}

{% block scripts %}



{% endblock %}
