page_title: Implementación
title: Implementación de soluciones
subtitle: Dale a tu vendedor las herramientas y la motivación para vender más.
page_description: Tenemos al mejor equipo de gerentes de proyecto y programadores dedicados a que las implementaciones sean efectivas y de la mano con nuestros clientes
lang: es
en_url: ../../en/products/integration/

{% extends "base_page.html" %}

{% block title %}

  {% include "implementacion/slider.html" %}

{% endblock %}

{% block content %}
<div class="container mt-xl">
    <div class="row mb-none">
        <div class="col-md-12 center">
            <h2 class="word-rotator-title mb-sm">Sincronización de sus <strong>datos</strong> </h2>
            <p class="lead">Para que tus vendedores, supervisores y gerentes vean tu información de ventas en tiempo real y eviten errores, nosotros sincronizamos la información de tu empresa con nuestros servicios.</p>

            <hr class="tall">
        </div>
    </div>
</div>
<section class="section section-default bg-white section-with-mockup mt-none mb-none border-none">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-1" >
                <h4 class="featured-orange">La sincronización puede hacerse de 2 maneras:</h4>
                <h4>1. Directamente con el sistema ERP del cliente</h4>
                <p>Somos  flexibles con el tipo de ERP al que nos conectamos. Tenemos una basta experiencia con distintos sistemas.</p>
                <h5 style="margin-bottom: -15px;"><small style="color: #F46C22!important;">Sistemas de conexión ya desarrollados:</small></h5>
                <div class="content-grid content-grid-dashed mt-xlg mb-lg">
                  <div class="row content-grid-row">
                        <div class="content-grid-item col-md-6 center">
                            <img class="img-responsive" src="{% static '/img/productos/erp/peachtree.jpg' %}" alt="PeachTree - Integration Ubiqua">
                        </div>
                        <div class="content-grid-item col-md-6 center">
                            <img class="img-responsive" src="{% static '/img/productos/erp/sap.jpg' %}" alt="SAP - Integration Ubiqua">
                        </div>
                  </div>
                  <div class="row content-grid-row">
                        <div class="content-grid-item col-md-6 center">
                            <img class="img-responsive" src="{% static '/img/productos/erp/elconix.jpg' %}" alt="Elconix - Integration Ubiqua">
                        </div>
                        <div class="content-grid-item col-md-6 center">
                            <img class="img-responsive" src="{% static '/img/productos/erp/msd.jpg' %}" alt="Microsoft Dynamics - Integration Ubiqua">
                        </div>
                  </div>
                  <div class="row content-grid-row">
                        <div class="content-grid-item col-md-6 center">
                            <img class="img-responsive" src="{% static '/img/productos/erp/naf.jpg' %}" alt="NAF - Integration Ubiqua">
                        </div>

                  </div>
                </div>
                <p>Tenemos aliados estratégicos certificados en tu sistema ERP para asegurarnos que la sincronización sea 100% segura.</p>
                <p>Si tu sistema es hecho in-house, nuestro técnicos hacen un diagnóstico detallando cómo vamos a sincronizar la información y con qué frecuencia. </p>


            </div>
             <div class="col-md-5 col-md-offset-1">
                <h4>2. Por medio de exportación de archivos .CSV o .TXT</h4>
                <p>Importamos data automáticamente de tu sistema a UBIQUA por medio de archivos. Una opción muy rápida de hacer.</p>
                 <img class="img-responsive" src="{% static '/img/productos/imp/csv.jpg' %}" alt="Exportación de archivos .csv o Excel - Integration Ubiqua">


            </div>
        </div>
    </div>
</section>

<section
  class="parallax section section-text-light section-parallax  mt-none mb-none bg_producto"
  data-stellar-background-ratio="0.5"
  >
        <div class="container">
             <div class="row mb-none">
            <div class="col-md-12 center">
                <h2 class="word-rotator-title mb-sm">Otros <strong>Recursos</strong> a tu disposición </h2>

                <hr class="tall">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-xl">
                <img class="center-img img-responsive doted-border appear-animation circle" src="{% static '/img/productos/imp/pm.jpg' %}" alt="Project Manager" data-appear-animation="fadeInLeft">

                <h4 class="mt-xl">Project Manager</h4>
                <hr>
                <ul class="list list-icons list-primary imp-list">
                    <li><i class="fa fa-check"></i> Convierte conceptos prometidos en realidad </li>
                    <li><i class="fa fa-check"></i> Implementa proyectos en el tiempo y presupuesto establecido.</li>
                    <li><i class="fa fa-check"></i> Mantiene comunicación constante con gerentes involucrados en el proyecto.</li>
                </ul>
            </div>



            <div class="col-md-6 mb-xl">
                <img class="center-img img-responsive appear-animation doted-border circle " src="{% static '/img/productos/imp/capacitacion.jpg' %}" alt="Capacitaciones de los usuarios" data-appear-animation="fadeInRight">

                <h4 class="mt-xl"><strong>Capacitaciones</strong> de los usuarios</h4>
                <hr>
                <ul class="list list-icons list-primary imp-list">
                    <li><i class="fa fa-check"></i> Capacitaciones presenciales y virtuales de los usuarios sobre las nuestras herramientas</li>
                    <li><i class="fa fa-check"></i> Seminarios teórico-prácticos sobre tácticas de cierre, manejo de objeciones entre otros temas</li>
                    <li><i class="fa fa-check"></i> Seguimiento post-entrenamiento para asegurar uso óptimo de nuestros servicios</li>
                </ul>

            </div>

        </div>

    </div>
</section>
{% include "implementacion/soporte.html" %}
{% include "implementacion/resultados.html" %}

{% endblock %}
