page_title: POC - Ubiqua Panamá
title: Ubiqua POC
subtitle: Aumente la velocidad del procesamiento de órdenes de compra.
page_keywords: Lorem Ipsum
page_description: Lorem Ipsum
lang: es
en_url: ../../en/products/poc/

{% extends "base_page.html" %}

{% block title %}
  {% include "poc/slider.html" %}
{% endblock %}

{% block content %}
<div class="container mb-xlg mt-xlg">
    <div class="row">
        <div class="col-md-12">

            <div class="col-md-12">
              <p class="lead mt-xlg"><strong>Ubiqua POC</strong> se encarga de facturar las órdenes de compra de las cadenas más grandes de supermercados y tiendas en cuestión de segundos.</p>
            </div>

            <div class="col-md-12">
              <div class="featured-boxes featured-boxes-style-2">
    						<div class="row">

                  <div class="col-md-6 mt-xl">
                    <div class="feature-box feature-box-style-5">
                      <div class="feature-box-icon circle">
                        <i class="fa fa-group"></i>
                      </div>
                      <div class="feature-box-info">
                        <p>Ahorrar por <strong>menos personal</strong> encargado de procesar órdenes</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 mt-xl">
                    <div class="feature-box feature-box-style-5">
                      <div class="feature-box-icon circle">
                          <i class="fa fa-tachometer" aria-hidden="true"></i>
                      </div>
                      <div class="feature-box-info">
                          <p>Aumento de velocidad en procesamiento de órdenes</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 mt-xl">
                    <div class="feature-box feature-box-style-5">
                      <div class="feature-box-icon circle">
                        <i class="fa fa-undo" aria-hidden="true"></i>
                      </div>
                      <div class="feature-box-info">
                        <p>Disminuir número de devoluciones y notas de credito</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6 mt-xl">
                    <div class="feature-box feature-box-style-5">
                      <div class="feature-box-icon circle">
                        <i class="fa fa-line-chart" aria-hidden="true"></i>
                      </div>
                      <div class="feature-box-info">
                        <p><strong>Aumentar ventas</strong> por rápida reacción a productos no facturados por errores</p>
                      </div>
                    </div>
                  </div>

    						</div>
			         </div>
            </div>
        </div>
    </div>

</div>

<section class="section bg_producto section-text-light section-with-mockup mb-none">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                 <div class="title center">
                    <h2>Funcionamiento de <strong>Ubiqua POC</strong></h2>
                    <p class="lead">Procesa tus órdenes de compra de manera automática y sin errores</p>
                 </div>
                <hr class="tall">
                <div class="col-md-6  center">
                    <i class="fa fa-list-alt product-icon" aria-hidden="true"></i>
                    <div class="title">
                        <h2>Procesamiento de órdenes de compra</h2>
                     </div>
                    <p class="lead2">
                        Aumente la velocidad del procesamiento de órdenes de compra. Tan pronto llega una orden de compra por correo electrónico, POC procesa la orden sin necesidad que una persona digite los productos requeridos.
                    </p>
                </div>


                <div class="col-md-6 center">
                    <i class="fa fa-exclamation-circle product-icon" aria-hidden="true"></i>
                    <div class="title">
                        <h2>Localización y notificación de errores</h2>
                    </div>
                    <p class="lead2">
                        Los errores en las órdenes son bastante comunes y estos entorpecen la relación con el cliente. POC identifica cualquier discordancia en la orden y le notifica automáticamente al encargado de arreglar el problema.
                    </p>
                </div>



            </div>
        </div>
    </div>

</section>

<section class="section bg-white section-default mt-none">

    <div class="home-concept">
        <div class="container">

            <div class="row center">

                <div class="col-md-3">
                    <div class="process-image" data-appear-animation="bounceIn">
                        <img src="{% static '/img/productos/poc/icon1.jpg' %}" alt="" />
                        <h4 class="mt-xl">Identificador de pedidos</h4>
                        <p>Tan pronto recibes una orden por correo, nosotros la identificamos y comenzamos su procesamiento sin que nadie descargue el archivo previamente.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="process-image" data-appear-animation="bounceIn" data-appear-animation-delay="200">
                        <img src="{% static '/img/productos/poc/icon2.jpg' %}" alt="" />
                        <h4 class="mt-xl">Transformación de órdenes a pedidos</h4>
                        <p>Convertimos las órdenes de compra que envían los clientes por correo a pedidos en tu sistema sin necesidad de digitar ninguna línea manualmente</p>
                    </div>
                </div>
                <div class="col-md-3 poc-func">
                    <div class="process-image" data-appear-animation="bounceIn" data-appear-animation-delay="400">
                        <img src="{% static '/img/productos/poc/icon3.jpg' %}" alt="" />
                        <h4 class="mt-xl">Localización de Errores</h4>
                        <p>Localización de errores en sus ordenes de compra</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="process-image" data-appear-animation="bounceIn" data-appear-animation-delay="400">
                        <img src="{% static '/img/productos/poc/icon4.jpg' %}" alt="" />
                        <h4 class="mt-xl">Notificación de Errores</h4>
                        <p>Notificamos a los  encargados en tu empresa solucionar los errores de las órdenes de compras.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
