page_title: About Us
title: Who we are?
subtitle: About us
page_description: B2B software development, Ubiqua is focused on developing enterprise software in an effort to make products commercialization more efficient.
img_bg: ../static/img/bg/nosotros.jpg
lang: en
es_url: ../../about_us/

{% extends "base_page.html" %}

{% block title %}
{% include "slider/container_nosotros.html" %}
{% endblock %}

{% block content %}

<div class="container mb-xlg mt-xlg">
    <div class="row">
        <div class="col-md-12 center">
            <h2 class="word-rotator-title mb-sm">We design and successfully implement innovation projects in a company's supply chain</h2>
        </div>
    </div>
</div>

<section class="section section-default section-with-mockup bg-dark mt-none border-none section-text-light  mb-xlg">
  <div class="container">
    <div class="row mb-xlg">
        <div class="col-md-12 center">
            <div class="title">
                <h2>Our company values</h2>
            </div>
        </div>

    </div>
  </div>
   <div class="featured-boxes-full featured-boxes-full-scale">
            <div class="col-md-4">
                <div class="featured-box-full featured-box-full-primary" style="height: 291px;">
                    <i class="fa fa-users"></i>
                    <h4>Empathy</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="featured-box-full featured-box-full-primary" style="height: 291px;">
                    <i class="fa fa-refresh"></i>
                    <h4>Constant improvement</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="featured-box-full featured-box-full-primary" style="height: 291px;">
                    <i class="fa fa-lightbulb-o"></i>
                    <h4>Results oriented</h4>
                </div>
            </div>
        
        </div>

</section>


<div class="container" style="margin-top:290px;">

  <div class="title">

     <h2>Our team</h2>
   </div>


  <div class="row">

    <ul class="team-list sort-destination" data-sort-id="team">
      <li class="col-md-3 col-sm-6 col-xs-12 isotope-item leadership">
        <span class="thumb-info thumb-info-hide-wrapper-bg mb-xlg">
          <span class="thumb-info-wrapper">
              <img src="{% static '/img/nosotros/perfiles/GabyBN.jpg' %}" class="img-responsive" alt="">
              <span class="thumb-info-title">
                <span class="thumb-info-inner">Gabriela Hurtado</span>
                <span class="thumb-info-type">VP de Nuevos Negocios</span>
              </span>
          </span>
          <span class="thumb-info-caption">
            <span class="thumb-info-social-icons">

              <a target="_blank" href="https://pa.linkedin.com/in/gabrielahurtado7"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
            </span>
          </span>
        </span>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12 isotope-item marketing">
        <span class="thumb-info thumb-info-hide-wrapper-bg mb-xlg">
          <span class="thumb-info-wrapper">
              <img src="{% static '/img/nosotros/perfiles/DiegoBN.jpg' %}" class="img-responsive" alt="">
              <span class="thumb-info-title">
                <span class="thumb-info-inner">Diego Molino</span>
                <span class="thumb-info-type">VP Comercial</span>
              </span>
          </span>
          <span class="thumb-info-caption">
            <span class="thumb-info-social-icons">

              <a target="_blank" href="https://pa.linkedin.com/in/diego-molino-b42b4632/es"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
            </span>
          </span>
        </span>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12 isotope-item development">
        <span class="thumb-info thumb-info-hide-wrapper-bg mb-xlg">
          <span class="thumb-info-wrapper">
              <img src="{% static '/img/nosotros/perfiles/JorgeBN.jpg' %}" class="img-responsive" alt="">
              <span class="thumb-info-title">
                <span class="thumb-info-inner">Jorge L. García</span>
                <span class="thumb-info-type">VP de Producto</span>
              </span>
          </span>
          <span class="thumb-info-caption">
            <span class="thumb-info-social-icons">

              <a target="_blank" href="https://pa.linkedin.com/in/jorge-luis-garcia-chapman-09487717/es"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
            </span>
          </span>
        </span>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12 isotope-item design">
        <span class="thumb-info thumb-info-hide-wrapper-bg mb-xlg">
          <span class="thumb-info-wrapper">
              <img src="{% static '/img/nosotros/perfiles/CabeBN.jpg' %}" class="img-responsive" alt="">
              <span class="thumb-info-title">
                <span class="thumb-info-inner">José Ramón Varela</span>
                <span class="thumb-info-type">VP de Tecnología</span>
              </span>
          </span>
          <span class="thumb-info-caption">
            <span class="thumb-info-social-icons">

              <a target="_blank" href="https://pa.linkedin.com/in/jose-varela-9a345813/es"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
            </span>
          </span>
        </span>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12 isotope-item development">
        <span class="thumb-info thumb-info-hide-wrapper-bg mb-xlg">
          <span class="thumb-info-wrapper">
              <img src="{% static '/img/nosotros/perfiles/BetoBN.jpg' %}" class="img-responsive" alt="">
              <span class="thumb-info-title">
                <span class="thumb-info-inner">Alberto Picard-Ami</span>
                <span class="thumb-info-type">VP de Operaciones</span>
              </span>
          </span>
          <span class="thumb-info-caption">
            <span class="thumb-info-social-icons">

              <a target="_blank" href="https://pa.linkedin.com/in/albertopicardami/es"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
            </span>
          </span>
        </span>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12 isotope-item marketing">
        <span class="thumb-info thumb-info-hide-wrapper-bg mb-xlg">
          <span class="thumb-info-wrapper">
              <img src="{% static '/img/nosotros/perfiles/ArielBN.jpg' %}" class="img-responsive" alt="">
              <span class="thumb-info-title">
                <span class="thumb-info-inner">Ariel Vernaza</span>
                <span class="thumb-info-type">Senior Software Engineer</span>
              </span>
          </span>
          <span class="thumb-info-caption">
            <span class="thumb-info-social-icons">

              <a target="_blank" href="https://pa.linkedin.com/in/dsapandora"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
            </span>
          </span>
        </span>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12 isotope-item development">
        <span class="thumb-info thumb-info-hide-wrapper-bg mb-xlg">
          <span class="thumb-info-wrapper">
              <img src="{% static '/img/nosotros/perfiles/JosephBN.jpg' %}" class="img-responsive" alt="">
              <span class="thumb-info-title">
                <span class="thumb-info-inner">Joseph Johnson</span>
                <span class="thumb-info-type">Senior Software Engineer</span>
              </span>
          </span>
          <span class="thumb-info-caption">
            <span class="thumb-info-social-icons">

              <a target="_blank "href="https://pa.linkedin.com/in/josephjjohnsonk/es"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
            </span>
          </span>
        </span>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12 isotope-item development">
        <span class="thumb-info thumb-info-hide-wrapper-bg mb-xlg">
          <span class="thumb-info-wrapper">
              <img src="{% static '/img/nosotros/perfiles/SharonBN.jpg' %}" class="img-responsive" alt="">
              <span class="thumb-info-title">
                <span class="thumb-info-inner">Sharon Lisseth Pérez</span>
                <span class="thumb-info-type">Gerente de Proyecto</span>
              </span>
          </span>
          <span class="thumb-info-caption">
            <span class="thumb-info-social-icons">

              <a target="_blank" href="https://pa.linkedin.com/in/sharonlissethperez"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
            </span>
          </span>
        </span>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12 isotope-item development">
        <span class="thumb-info thumb-info-hide-wrapper-bg mb-xlg">
          <span class="thumb-info-wrapper">
              <img src="{% static '/img/nosotros/perfiles/TaniaBN.jpg' %}" class="img-responsive" alt="">
              <span class="thumb-info-title">
                <span class="thumb-info-inner">Tania Rodríguez</span>
                <span class="thumb-info-type">Asistente de contabilidad</span>
              </span>
          </span>
          <span class="thumb-info-caption">
            <span class="thumb-info-social-icons">

              <a target="_blank" href="https://pa.linkedin.com/in/tania-rodríguez-bb7b1678"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
            </span>
          </span>
        </span>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12 isotope-item development">
        <span class="thumb-info thumb-info-hide-wrapper-bg mb-xlg">
          <span class="thumb-info-wrapper">
              <img src="{% static '/img/nosotros/perfiles/TachoBN.jpg' %}" class="img-responsive" alt="">
              <span class="thumb-info-title">
                <span class="thumb-info-inner">Anastacio Gianareas</span>
                <span class="thumb-info-type">Senior Software Engineer</span>
              </span>
          </span>
          <span class="thumb-info-caption">
            <span class="thumb-info-social-icons">
              <a target="_blank" href="https://www.facebook.com/anastacio.tacho.gianareas"><i class="fa fa-facebook"></i><span>Facebook</span></a>

              <a target="_blank" href="https://pa.linkedin.com/in/anastaciogianareas/es"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
            </span>
          </span>
        </span>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12 isotope-item development">
        <span class="thumb-info thumb-info-hide-wrapper-bg mb-xlg">
          <span class="thumb-info-wrapper">
              <img src="{% static '/img/nosotros/perfiles/NicoleBN.jpg' %}" class="img-responsive" alt="">
              <span class="thumb-info-title">
                <span class="thumb-info-inner">Nicole Walsh</span>
                <span class="thumb-info-type">Gerente de Producto</span>
              </span>
          </span>
          <span class="thumb-info-caption">
            <span class="thumb-info-social-icons">
              <a target="_blank" href="https://www.linkedin.com/in/nicolemwalsh/"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
            </span>
          </span>
        </span>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12 isotope-item development">
        <span class="thumb-info thumb-info-hide-wrapper-bg mb-xlg">
          <span class="thumb-info-wrapper">
              <img src="{% static '/img/nosotros/perfiles/AlvaroBN.jpg' %}" class="img-responsive" alt="">
              <span class="thumb-info-title">
                <span class="thumb-info-inner">Alvaro Martinez</span>
                <span class="thumb-info-type">Gerente de Proyecto</span>
              </span>
          </span>
          <span class="thumb-info-caption">
            <span class="thumb-info-social-icons">
              <a target="_blank" href="https://www.linkedin.com/in/alvaromartinezalonso/"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
            </span>
          </span>
        </span>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12 isotope-item development">
        <span class="thumb-info thumb-info-hide-wrapper-bg mb-xlg">
          <span class="thumb-info-wrapper">
              <img src="{% static '/img/nosotros/perfiles/LauraBN.jpg' %}" class="img-responsive" alt="">
              <span class="thumb-info-title">
                <span class="thumb-info-inner">Laura Manzano</span>
                <span class="thumb-info-type">Gerente de Proyecto</span>
              </span>
          </span>
          <span class="thumb-info-caption">
            <span class="thumb-info-social-icons">
              <a target="_blank" href="https://www.linkedin.com/in/lauramanzanomedina/"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
            </span>
          </span>
        </span>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12 isotope-item development">
        <span class="thumb-info thumb-info-hide-wrapper-bg mb-xlg">
          <span class="thumb-info-wrapper">
              <img src="{% static '/img/nosotros/perfiles/ReyBN.jpg' %}" class="img-responsive" alt="">
              <span class="thumb-info-title">
                <span class="thumb-info-inner">Rey Hernandez</span>
                <span class="thumb-info-type">Gerente de Producto</span>
              </span>
          </span>
          <span class="thumb-info-caption">
            <span class="thumb-info-social-icons">
              <a target="_blank" href="https://www.linkedin.com/in/reyhersedelmeier/"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
            </span>
          </span>
        </span>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12 isotope-item development">
        <span class="thumb-info thumb-info-hide-wrapper-bg mb-xlg">
          <span class="thumb-info-wrapper">
              <img src="{% static '/img/nosotros/perfiles/Ana SofiaBN.jpg' %}" class="img-responsive" alt="">
              <span class="thumb-info-title">
                <span class="thumb-info-inner">Ana Sofia Lau</span>
                <span class="thumb-info-type">Software Engineer</span>
              </span>
          </span>
          <span class="thumb-info-caption">
            <span class="thumb-info-social-icons">
              <a target="_blank" href="https://www.linkedin.com/in/ana-sofia-lau-hou-8524a4125/"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
            </span>
          </span>
        </span>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12 isotope-item development">
        <span class="thumb-info thumb-info-hide-wrapper-bg mb-xlg">
          <span class="thumb-info-wrapper">
              <img src="{% static '/img/nosotros/perfiles/CarlosBN.jpg' %}" class="img-responsive" alt="">
              <span class="thumb-info-title">
                <span class="thumb-info-inner">Carlos Sousa-Lennox</span>
                <span class="thumb-info-type">Gerente de Mercadeo</span>
              </span>
          </span>
          <span class="thumb-info-caption">
            <span class="thumb-info-social-icons">
              <a target="_blank" href="https://www.linkedin.com/in/carlosslr/"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
            </span>
          </span>
        </span>
      </li>
      <li class="col-md-3 col-sm-6 col-xs-12 isotope-item development">
        <span class="thumb-info thumb-info-hide-wrapper-bg mb-xlg">
          <span class="thumb-info-wrapper">
              <img src="{% static '/img/nosotros/perfiles/AlbertoBN.jpg' %}" class="img-responsive" alt="">
              <span class="thumb-info-title">
                <span class="thumb-info-inner">Alberto Delgado</span>
                <span class="thumb-info-type">Senior Software Engineer</span>
              </span>
          </span>
          <span class="thumb-info-caption">
            <span class="thumb-info-social-icons">
              <a target="_blank" href="https://www.linkedin.com/in/controlade"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
            </span>
          </span>
        </span>
      </li>
       <li class="col-md-3 col-sm-6 col-xs-12 isotope-item development">
        <span class="thumb-info thumb-info-hide-wrapper-bg mb-xlg">
          <span class="thumb-info-wrapper">
              <img src="{% static '/img/nosotros/perfiles/RicardoBN.jpg' %}" class="img-responsive" alt="">
              <span class="thumb-info-title">
                <span class="thumb-info-inner">Ricardo Maduro</span>
                <span class="thumb-info-type">Gerente de Desarrollo de Negocios</span>
              </span>
          </span>
          <span class="thumb-info-caption">
            <span class="thumb-info-social-icons">
              <a target="_blank" href="https://www.linkedin.com/in/ricardo-maduro-de-diego-166a6983/"><i class="fa fa-linkedin"></i><span>Linkedin</span></a>
            </span>
          </span>
        </span>
      </li>
    </ul>

  </div>

</div>
<hr class="tall">
<div class="container">
    <div class="row mt-xlg mb-xlg">
        
        <div class="col-md-12">

            <div class="alert alert-success hidden" id="contactSuccess">
                <strong>Success!</strong> Your message has been sent to us.
            </div>

            <div class="alert alert-danger hidden" id="contactError">
                <strong>Error!</strong> There was an error sending your message.
            </div>

            <div class="title">
                <h2>¿Deseas formar parte de<strong> nuestro equipo de trabajo? </strong></h2>
                <p>Completa los siguientes campos y envíanos tu perfil profesional. </p>
            </div>
            <form id="contactForm">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>Nombre *</label>
                            <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" id="name" required>
                        </div>
                        <div class="col-md-6">
                            <label>Teléfono</label>
                            <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" id="email" required>
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Dirección email *</label>
                            <input type="text" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control" name="subject" id="subject" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Perfil profesional en formato PDF</label>
                            <input type="file" name="fileToUpload" id="fileToUpload">
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Comentarios adicionales o link de Linkedin</label>
                            <textarea maxlength="5000" data-msg-required="Please enter your message." rows="10" class="form-control" name="message" id="message" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="submit" value="UBIQUATE" class="btn btn-primary btn-sm mb-xlg float-right" data-loading-text="Loading...">
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>


{% endblock %}

{% block scripts %}



{% endblock %}
