page_title: About Us
title: Who we are?
subtitle: About us
page_keywords: Lorem Ipsum
page_description: Lorem Ipsum
img_bg: ../static/img/bg/nosotros.jpg
lang: en
es_url: ../../nosotros/

{% extends "base_page.html" %}

{% block title %}
{% include "slider/container_nosotros.html" %}
{% endblock %}

{% block content %}

<div class="container mb-xlg mt-xlg">
    <div class="row">
        <div class="col-md-12 center">
            <h2 class="word-rotator-title mb-sm">B2B software development</h2>
            <p class="lead">Ubiqua is focused on developing enterprise software in an effort to make products commercialization more efficient. We believe there is a huge opportunity on increasing sales and decreasing manual work by empowering workers with technology and real-time information. </p>
        </div>
    </div>
</div>

<section class="section section-default section-with-mockup bg-dark mt-none border-none section-text-light  mb-xlg">
  <div class="container">
    <div class="row mb-xlg">
        <div class="col-md-12 center">
            <div class="title">
                <h2>Our company values</h2>
            </div>
        </div>

    </div>
  </div>
    <div class="featured-boxes-full featured-boxes-full-scale">
            <div class="col-md-3">
                <div class="featured-box-full featured-box-full-primary" style="height: 291px;">
                    <i class="fa fa-users"></i>
                    <h4>Empathy</h4>
                    <p>Get on someone else’s shoes as your first reaction.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="featured-box-full featured-box-full-primary" style="height: 291px;">
                    <i class="fa fa-refresh"></i>
                    <h4>Constant improvement</h4>
                    <p>Question the status quo to grow professionally and personally.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="featured-box-full featured-box-full-primary" style="height: 291px;">
                    <i class="fa fa-users"></i>
                    <h4>Add value</h4>
                    <p>Make sure that whatever you do is for the company’s benefit</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="featured-box-full featured-box-full-primary" style="height: 291px;">
                    <i class="fa fa-thumbs-o-up"></i>
                    <h4>Trust worthy</h4>
                    <p>Have an impecable reputation where our word is law.</p>
                </div>
            </div>
        </div>

</section>

<div class="container" style="margin-top:230px;">
    <div class="row mt-xlg mb-xlg">
        <div class="col-md-6">
             <div class="featured-box featured-box-primary">
            <div class="box-content">
                <h4 class="text-uppercase">Meet our team</h4>
                <ul class="thumbnail-gallery" data-plugin-lightbox="" data-plugin-options="{&quot;delegate&quot;: &quot;a&quot;, &quot;type&quot;: &quot;image&quot;, &quot;gallery&quot;: {&quot;enabled&quot;: true}}">
                    <li>
                        <a title="Navidad 2015" href="{% static '/img/nosotros/ubiqua1.jpg' %}">
                            <span class="thumbnail mb-none">
                                <img src="{% static '/img/nosotros/ubiqua_mini_1.jpg' %}" width="130" alt="">
                            </span>
                        </a>
                    </li>
                    <li>
                        <a title="Bowling" href="{% static '/img/nosotros/ubiqua2.jpg' %}">
                            <span class="thumbnail mb-none">
                                <img src="{% static '/img/nosotros/ubiqua_mini_2.jpg' %}" width="130" alt="">
                            </span>
                        </a>
                    </li>
                    <li>
                        <a title="Socios Ubiqua" href="{% static '/img/nosotros/ubiqua3.jpg' %}">
                            <span class="thumbnail mb-none">
                                <img src="{% static '/img/nosotros/ubiqua_mini_3.jpg' %}" width="130" alt="">
                            </span>
                        </a>
                    </li>
                    <li>
                        <a title="Primera Imagen de empresa" href="{% static '/img/nosotros/ubiqua4.jpg' %}">
                            <span class="thumbnail mb-none">
                                <img src="{% static '/img/nosotros/ubiqua_mini_4.jpg' %}" width="130" alt="">
                            </span>
                        </a>
                    </li>
                     <li>
                        <a title="BDay" href="{% static '/img/nosotros/ubiqua5.jpg' %}">
                            <span class="thumbnail mb-none">
                                <img src="{% static '/img/nosotros/ubiqua_mini_5.jpg' %}" width="130" alt="">
                            </span>
                        </a>
                    </li>
                     <li>
                        <a title="Nuevo equipo Ubiqua" href="{% static '/img/nosotros/ubiqua6.jpg' %}">
                            <span class="thumbnail mb-none">
                                <img src="{% static '/img/nosotros/ubiqua_mini_6.jpg' %}" width="130" alt="">
                            </span>
                        </a>
                    </li>
                     <li>
                        <a title="Capatec" href="{% static '/img/nosotros/ubiqua7.jpg' %}">
                            <span class="thumbnail mb-none">
                                <img src="{% static '/img/nosotros/ubiqua_mini_7.jpg' %}" width="130" alt="">
                            </span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

        </div>
        <div class="col-md-6">

            <div class="alert alert-success hidden" id="contactSuccess">
                <strong>Success!</strong> Your message has been sent to us.
            </div>

            <div class="alert alert-danger hidden" id="contactError">
                <strong>Error!</strong> There was an error sending your message.
            </div>

            <div class="title">
                <h2>Do you want to<strong> work with us?</strong></h2>
                <p>Follow the instructions below to send us your resume. Please fill in all required fields.
</p>
            </div>
            <form id="contactForm">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>Name *</label>
                            <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" id="name" required>
                        </div>
                        <div class="col-md-6">
                            <label>Phone</label>
                            <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" id="email" required>
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Email *</label>
                            <input type="text" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control" name="subject" id="subject" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Resume (PDF) Format *</label>
                            <input type="file" name="fileToUpload" id="fileToUpload">
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Comments</label>
                            <textarea maxlength="5000" data-msg-required="Please enter your message." rows="10" class="form-control" name="message" id="message" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="submit" value="Send Message" class="btn btn-primary btn-sm mb-xlg float-right" data-loading-text="Loading...">
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>


{% endblock %}

{% block scripts %}



{% endblock %}
