page_title: Nuestros Clientes
title: Nuestro Clientes
ca_footer: no
subtitle: Conozca quienes han trabajado con nosotros
page_description: Grandes empresas del sector alimenticio, cosmética, farmaceútica, textil, etc. Que ya trabajan con las soluciones de Ubiqua.
img_bg: ../static/img/bg/nosotros.jpg
lang: es
en_url: ../en/clients/


{% extends "base_page.html" %}
{% block title %}
{% include "slider/container_clientes.html" %}
{% endblock %}
{% block content %}
    {% include "clientes/client_list.html" %}
    {% include "clientes/video.html" %}
    {% include "clientes/hero.html" %}
    {% include "index/clients_quotes.html" %}
    
{% endblock %}
