page_title: Cuerdas
title: acertijo
subtitle: Conozca más de nosotros
page_description: Diseño y desarrollo de software empresarial, Nos enfocamos en hacer software para organizaciones productoras y de distribución.
lang: es
en_url: ../en/cuerdas/

{% extends "base_page.html" %}

{% block title %}
{% endblock %}

{% block content %}

<div class="container mb-xlg mt-xlg">
    <div class="row">
        <div class="col-md-12 center">
            <h2 class="word-rotator-title mb-sm"> Tienes dos cuerdas y fósforos para prenderlas. Las cuerdas están hechas de distintos materiales por esto se queman a distintos ritmos pero cada una demora 1 hora en quemarse por completo
          <br>
          ¿Cómo harías para medir 45 minutos?
</strong> </h2>
            <p class="lead">Respuesta: En cuanto se enciende el mechero se prenden los dos extremos de una de las cuerdas y un extremo de la otra. La primera cuerda se consumirá exactamente en media hora. En ese momento se prende el extremo que no se estaba consumiendo de la otra cuerda, la cual se consumirá exactamente en un cuarto de hora a partir de ese instante, habiendo transcirrido exactamente 45 minutos desde que se accionó por primera vez el mechero. </p>

            <hr class="tall">
        </div>
    </div>

</div>



{% endblock %}

{% block scripts %}



{% endblock %}
