page_title: Ubiqua
page_keywords: Lorem Ipsum
page_description: Lorem Ipsum
page_author: Bluetide

{% extends "base.html" %}

{% block content %}
  {% include "slider/container.html" %}
  {% include "index/intro.html" %}
  {% include "index/hero.html" %}
  {# include "index/features.html" #}
  {# include "index/ca-productos.html" #}
  {% include "index/products.html" %}
  {% include "index/clients_header.html" %}
  {% include "index/clients_quotes.html" %}
  {# include "index/clients_logos.html" #}
  {% include "index/services.html" %}
{% endblock %}
