page_title: Ubiqua
page_keywords: Lorem Ipsum
page_description: Lorem Ipsum
page_author: Bluetide
lang: es
en_url: ../en/

{% extends "base.html" %}

{% block content %}
  {% include "slider/container.html" %}
  {% include "index/intro.html" %}
  {% include "index/rentabilidad.html" %}
  {% include "index/stats.html" %}
  {% include "index/productos.html" %}
  {% include "index/clients_logos.html" %}
  {% include "index/clients_quotes.html" %}
  {% include "index/servicios.html" %}

{% endblock %}

