page_title: Nosotros
title: ¿Quiénes Somos?
subtitle: Conozca más de nosotros
page_keywords: Lorem Ipsum
page_description: Lorem Ipsum
img_bg: ../static/img/bg/nosotros.jpg


{% extends "base_page.html" %}

{% block content %}

<div class="container mb-xlg">
    <div class="row">
        <div class="col-md-12 center">
            <h2 class="word-rotator-title mb-sm">Diseño y desarrollo de <strong>software empresarial</strong> </h2>
            <p class="lead">Nos enfocamos en hacer software para organizaciones productoras y de distribución. Empresas que tienen productos en bodegas y los venden a supermercados, farmacias y tiendas de consumo. </p>

            <hr class="tall">
        </div>
    </div>
    
    <div class="col-md-12">
         <div class="title">

            <h2>Nuestra<strong> Historia </strong></h2>
          </div>
        <h4 class="heading-primary"><strong>Fundada en 2012</strong></h4>
        <p>Diego, Gabriela, Jorge y José Ramón fundaron Ubiqua, un startup panameño de diseño y desarrollo de software. La idea fue seguir la metodología de trabajo de la escuela de diseño de Stanford (Stanford dSchool) para innovar y desarrollar herramientas de trabajo para empoderar a los empleados y liberarlos de procesos manuales. Esta filosofía y estas metodologías las usan las mejores empresas de tecnología en Silicon Valley en California.</p>
        <p>Hoy somos una empresa de 12 empleados que atiende a más de 600 usuarios a nivel nacional de 11 empresas líderes en las industrias farmacéuticas, de consumo masivo, y de producción.</p>
        <div class="toggle toggle-primary" data-plugin-toggle>
            <section class="toggle ubiqua">
                <label>Conozca nuestra historia completa</label>
                <div class="toggle-content">
                    <br>
                    <h4 class="heading-primary"><strong>2012 <small>(Donde todo comienza)</small></strong></h4>
                    <p>En el 2012 Diego, Gabriela, Jorge y José Ramón fundaron Ubiqua, un startup panameño de diseño y desarrollo de software enfocados en compañías de distribución y producción. Durante este primer año de vida desarrollamos, en menos de 4 meses, un prototipo de una aplicación móvil que le permitía a los vendedores de <strong>Feduro</strong> ingresar pedidos directamente al sistema de una manera remota, rápida y conveniente.</p>

                    <h4 class="heading-primary"><strong>2013</strong></h4>
                    <p>Terminamos el año 2013 con una versión mejorada de la aplicación y 65 usuarios entre Agencias Feduro y ganando nuestro nuevo cliente: Grupo De Haseth.</p>


                    <h4 class="heading-primary"><strong>2014</strong></h4>
                    <p>En el 2014 seguimos innovando. Gracias al apoyo de nuestro nuevo integrante del equipo de trabajo, Alberto, logramos terminar el año con un crecimiento de 190 usuarios en 5 clientes totales. </p>



                    <h4 class="heading-primary"><strong>2015</strong></h4>
                    <p>En el 2015 decidimos acelerar nuestro proceso de desarrollo del producto y minimizar el tiempo de implementación de clientes nuevos. Para esto contratamos 4 ingenieros en sistemas, 2 Project Managers y una asistente administrativa. Terminamos el año con más una aplicación muy completa, llena de funcionalidades nuevas y con mejoras exponenciales en rendimiento, seguridad y uso de memoria. Logramos superar los 600 usuarios a nivel nacional, implementados en 11 empresas panameñas. </p>

                    <h4 class="heading-primary"><strong>2016 <small>(La historia continua...)</small></strong></h4>
                    <p>En el 2016 buscamos seguir expandiendo nuestra oferta para empresas panameñas y explorar oportunidades en mercados internacionales.</p>

                </div>
            </section>
        </div>

        
        
    </div>
</div>

<section class="section section-default section-with-mockup bg-dark mt-none border-none section-text-light  mb-xlg">
  <div class="container">
    <div class="row mb-xlg">
        <div class="col-md-12 center">
            <div class="title">
                <h2>Nuestros <strong>Valores</strong> como empresa</h2>
                <span>Cualidades que nos distinguen y orientan</span>
            </div>
        </div>
        
    </div>
  </div>
    <div class="featured-boxes-full featured-boxes-full-scale">
            <div class="col-md-3">
                <div class="featured-box-full featured-box-full-primary" style="height: 291px;">
                    <i class="fa fa-users"></i>
                    <h4>Empatía</h4>
                    <p>Nuestra filosofía nos lleva a ponernos en los zapatos de los demás como primera reacción.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="featured-box-full featured-box-full-primary" style="height: 291px;">
                    <i class="fa fa-refresh"></i>
                    <h4>Mejoras constantes</h4>
                    <p>Cuestionar el status quo para ser cada vez más efectivos y eficientes en lo que hacemos.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="featured-box-full featured-box-full-primary" style="height: 291px;">
                    <i class="fa fa-users"></i>
                    <h4>Agregamos Valor</h4>
                    <p>Asegurarse que tus comportamientos aporten al beneficio de la empresa</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="featured-box-full featured-box-full-primary" style="height: 291px;">
                    <i class="fa fa-thumbs-o-up"></i>
                    <h4>Confiabilidad</h4>
                    <p>Crear una reputación impecable en donde nuestra palabra es ley.</p>
                </div>
            </div>
        </div>

</section>

<div class="container" style="margin-top:230px;">
    <div class="row mt-xlg mb-xlg">
        <div class="col-md-6">
             <div class="featured-box featured-box-primary">
            <div class="box-content">
                <h4 class="text-uppercase">Conoce al Equipo de Ubiqua</h4>
                <ul class="thumbnail-gallery" data-plugin-lightbox="" data-plugin-options="{&quot;delegate&quot;: &quot;a&quot;, &quot;type&quot;: &quot;image&quot;, &quot;gallery&quot;: {&quot;enabled&quot;: true}}">
                    <li>
                        <a title="Navidad 2015" href="{% static '/img/nosotros/ubiqua1.jpg' %}">
                            <span class="thumbnail mb-none">
                                <img src="{% static '/img/nosotros/ubiqua_mini_1.jpg' %}" width="130" alt="">
                            </span>
                        </a>
                    </li>
                    <li>
                        <a title="Bowling" href="{% static '/img/nosotros/ubiqua2.jpg' %}">
                            <span class="thumbnail mb-none">
                                <img src="{% static '/img/nosotros/ubiqua_mini_2.jpg' %}" width="130" alt="">
                            </span>
                        </a>
                    </li>
                    <li>
                        <a title="Socios Ubiqua" href="{% static '/img/nosotros/ubiqua3.jpg' %}">
                            <span class="thumbnail mb-none">
                                <img src="{% static '/img/nosotros/ubiqua_mini_3.jpg' %}" width="130" alt="">
                            </span>
                        </a>
                    </li>
                    <li>
                        <a title="Primera Imagen de empresa" href="{% static '/img/nosotros/ubiqua4.jpg' %}">
                            <span class="thumbnail mb-none">
                                <img src="{% static '/img/nosotros/ubiqua_mini_4.jpg' %}" width="130" alt="">
                            </span>
                        </a>
                    </li>
                     <li>
                        <a title="BDay" href="{% static '/img/nosotros/ubiqua5.jpg' %}">
                            <span class="thumbnail mb-none">
                                <img src="{% static '/img/nosotros/ubiqua_mini_5.jpg' %}" width="130" alt="">
                            </span>
                        </a>
                    </li>
                     <li>
                        <a title="Nuevo equipo Ubiqua" href="{% static '/img/nosotros/ubiqua6.jpg' %}">
                            <span class="thumbnail mb-none">
                                <img src="{% static '/img/nosotros/ubiqua_mini_6.jpg' %}" width="130" alt="">
                            </span>
                        </a>
                    </li>
                     <li>
                        <a title="Capatec" href="{% static '/img/nosotros/ubiqua7.jpg' %}">
                            <span class="thumbnail mb-none">
                                <img src="{% static '/img/nosotros/ubiqua_mini_7.jpg' %}" width="130" alt="">
                            </span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
            
        </div>
        <div class="col-md-6">

            <div class="alert alert-success hidden" id="contactSuccess">
                <strong>Success!</strong> Your message has been sent to us.
            </div>

            <div class="alert alert-danger hidden" id="contactError">
                <strong>Error!</strong> There was an error sending your message.
            </div>

            <div class="title">
                <h2>¿Quieres<strong> Trabajar con Nosotros?</strong></h2>
                <p>Rellena los siguientes campos y envíanos tu CV</p>
            </div>
            <form id="contactForm">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label>Nombre *</label>
                            <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" id="name" required>
                        </div>
                        <div class="col-md-6">
                            <label>Teléfono</label>
                            <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" id="email" required>
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Dirección email *</label>
                            <input type="text" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control" name="subject" id="subject" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Curriculum Vitae (Formato PDF) *</label>
                            <input type="file" name="fileToUpload" id="fileToUpload">
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Comentarios adicionales</label>
                            <textarea maxlength="5000" data-msg-required="Please enter your message." rows="10" class="form-control" name="message" id="message" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="submit" value="Enviar Mensaje" class="btn btn-primary btn-sm mb-xlg float-right" data-loading-text="Loading...">
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>


{% endblock %}

{% block scripts %}



{% endblock %}
