page_title: piramide
title: acertijo
subtitle: Conozca más de nosotros
page_description: Diseño y desarrollo de software empresarial, Nos enfocamos en hacer software para organizaciones productoras y de distribución.
lang: es
en_url: ../en/piramide/

{% extends "base_page.html" %}

{% block title %}
{% endblock %}

{% block content %}

<div class="container mb-xlg mt-xlg">
    <div class="row">
        <div class="col-md-12 center">
            <h2 class="word-rotator-title mb-sm">¿Cuál es el número que debe ir en la X?
</strong> </h2>
            <p class="lead">Respuesta: 3 </p>

            <hr class="tall">
        </div>
    </div>

</div>



{% endblock %}

{% block scripts %}



{% endblock %}
