<!DOCTYPE html>
<html>
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>{{ page_title }} - Ubiqua Panamá</title>

		<meta name="keywords" content="{{ page_keywords }}" />
		<meta name="description" content="{{ page_description }}">
		<meta name="author" content="Bluetide IT Consulting">
        <meta name="theme-color" content="#F0F0F0" />

		<!-- Favicon -->
		<link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/png" />
		<link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- Web Fonts  -->
		<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
		<link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'vendor/simple-line-icons/css/simple-line-icons.min.css' %}">
		<link rel="stylesheet" href="{% static 'vendor/owl.carousel/assets/owl.carousel.min.css' %}">
		<link rel="stylesheet" href="{% static 'vendor/owl.carousel/assets/owl.theme.default.min.css' %}">
		<link rel="stylesheet" href="{% static 'vendor/magnific-popup/magnific-popup.min.css' %}">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="{% static 'css/theme.css' %}">
		<link rel="stylesheet" href="{% static 'css/theme-elements.css' %}">
		<link rel="stylesheet" href="{% static 'css/theme-blog.css' %}">
		<link rel="stylesheet" href="{% static 'css/theme-shop.css' %}">
		<link rel="stylesheet" href="{% static 'css/theme-animate.css' %}">

		<!-- Current Page CSS -->
		<link rel="stylesheet" href="{% static 'vendor/rs-plugin/css/settings.css' %}" media="screen">
		<link rel="stylesheet" href="{% static 'vendor/rs-plugin/css/layers.css' %}" media="screen">
		<link rel="stylesheet" href="{% static 'vendor/rs-plugin/css/navigation.css' %}" media="screen">
		<link rel="stylesheet" href="{% static 'vendor/circle-flip-slideshow/css/component.css' %}" media="screen">

		<!-- Skin CSS -->
		<link rel="stylesheet" href="{% static 'css/skin-ubiqua.css' %}">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="{% static 'css/custom.css' %}">

		<!-- Head Libs -->
		<script src="{% static 'vendor/modernizr/modernizr.min.js' %}"></script>

	</head>
	<body>
		<div class="body">

			{% include "fragments/top_header.html" %}

			<div role="main" class="main">
                <section class="page-header page-header-custom-background parallax" data-stellar-background-ratio="0.5" style="background-image: url({% static '/img/productos/imp/intro.jpg' %});">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>{{ title }}<span>{{ subtitle }}</span></h1>
                                <ul class="breadcrumb breadcrumb-valign-mid">
                                    <li><a href="{% url '/index.html' %}">Inicio</a></li>
                                    <li class="active">{{ page_title }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>

				{% block content %}{% endblock %}
                
                {% if ca_footer == 'yes' %}
            
                
                <section class="call-to-action call-to-action-default with-button-arrow call-to-action-in-footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="call-to-action-content">
                                    <h3>¿Desea conocer de primera mano nuestros <strong>productos y servicios</strong>?</h3>
                                    <p>Tomemos un café y le haremos una demostración gratuita</p>
                                </div>
                                <div class="call-to-action-btn">
                                    <a href="{% url '/contacto.html' %}" target="_blank" class="btn btn-lg btn-primary">Solicitar Demo</a><span class="arrow hlb hidden-xs hidden-sm hidden-md" data-appear-animation="rotateInUpLeft" style="top: -85px;left: 130px;"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
                <br><br>
                {% endif %}


			</div>

			{% include "fragments/footer.html" %}


		</div>

		<!-- Vendor -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<script src="{% static 'vendor/jquery.appear/jquery.appear.min.js' %}"></script>
		<script src="{% static 'vendor/jquery.easing/jquery.easing.min.js' %}"></script>
		<script src="{% static 'vendor/jquery-cookie/jquery-cookie.min.js' %}"></script>
		<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'vendor/common/common.min.js' %}"></script>
		<script src="{% static 'vendor/jquery.validation/jquery.validation.min.js' %}"></script>
		<script src="{% static 'vendor/jquery.stellar/jquery.stellar.min.js' %}"></script>
		<script src="{% static 'vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js' %}"></script>
		<script src="{% static 'vendor/jquery.gmap/jquery.gmap.min.js' %}"></script>
		<script src="{% static 'vendor/jquery.lazyload/jquery.lazyload.min.js' %}"></script>
		<script src="{% static 'vendor/isotope/jquery.isotope.min.js' %}"></script>
		<script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
		<script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>
		<script src="{% static 'vendor/vide/vide.min.js' %}"></script>

		<!-- Theme Base, Components and Settings -->
		<script src="{% static 'js/theme.js' %}"></script>

		<!-- Current Page Vendor and Views -->
		<script src="{% static 'vendor/rs-plugin/js/jquery.themepunch.tools.min.js' %}"></script>
		<script src="{% static 'vendor/rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
		<script src="{% static 'vendor/circle-flip-slideshow/js/jquery.flipshow.min.js' %}"></script>
		<script src="{% static 'js/views/view.home.js' %}"></script>

		<!-- Theme Custom -->
		<script src="{% static 'js/custom.js' %}"></script>

		<!-- Theme Initialization Files -->
		<script src="{% static 'js/theme.init.js' %}"></script>

		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information.
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-12345678-1', 'auto');
			ga('send', 'pageview');
		</script>
		 -->

		 {% block scripts %}{% endblock %}

	</body>
</html>
