<li data-transition="fade">
  <img src="{% static '/img/slides/landing-page-slide-nosotros.jpg' %}"
    alt=""
    data-bgposition="center center"
    data-bgfit="cover"
    data-bgrepeat="no-repeat"
    class="rev-slidebg">

<div class="tp-caption main-label text-left"
    data-x="left" data-hoffset="-150"
    data-y="center" data-voffset="-150"
    data-start="500"
    data-whitespace="nowrap"
    data-transform_in="y:[100%];s:500;"
    data-transform_out="opacity:0;s:500;"
    style="z-index: 5"
    data-mask_in="x:0px;y:0px;" >
        {% if lang == "es" %}
            ¿Quiénes Somos?
        {% endif %}
        {% if lang == "en" %}
            Who we Are?
        {% endif %}

    </div>


  <div class="tp-caption top-label top-ubiqua"
    data-x="left" data-hoffset="-150"
    data-y="center" data-voffset="-65"
    data-start="1000"
    style="z-index: 5"
    data-transform_in="y:[-300%];opacity:0;s:500;">
      {% if lang == "es" %}
            Conozca más sobre <span style="font-weight:900;">Ubiqua</span> y nuestra trayectoria<br> empresarial.<br><hr>
        {% endif %}
        {% if lang == "en" %}
            About us
        {% endif %}


    </div>


  <a class="tp-caption btn btn-md btn-primary btn-slider-action tp-btn "
    data-hash
    data-hash-offset="85"
    href="#"
    data-x="left" data-hoffset="-150"
    data-y="center" data-voffset="15"
    data-start="1800"
    data-whitespace="nowrap"
    data-transform_in="y:[100%];s:500;"
    data-transform_out="opacity:0;s:500;"
    style="z-index: 5"
    data-mask_in="x:0px;y:0px;" data-toggle="modal" data-target="#formModalContact">
        {% if lang == "es" %}
            Contáctenos para una prueba
        {% endif %}
        {% if lang == "en" %}
            Get more information!
        {% endif %}

    </a>

</li>
