<li data-transition="fade">
  <img src="{% static '/img/slides/5years-v2.png' %}"
    alt="Aumentamos la rentabilidad - Ubiqua"
    data-bgposition="center center"
    data-bgfit="cover"
    data-bgrepeat="no-repeat"
    class="rev-slidebg">
    
<div class="tp-caption main-label text-left"
    data-x="left" data-hoffset="-150"
    data-y="center" data-voffset="-150"
    data-start="500"
    data-whitespace="nowrap"
    data-transform_in="y:[100%];s:500;"
    data-transform_out="opacity:0;s:500;"
    style="z-index: 5"
    data-mask_in="x:0px;y:0px;" >
        {% if lang == "es" %}
            Aumenta la efectividad 
        {% endif %}
        {% if lang == "en" %}
            Improve your company’s profitability
        {% endif %}
    </div>


  <div class="tp-caption top-label top-ubiqua"
    data-x="left" data-hoffset="-150"
    data-y="center" data-voffset="-65"
    data-start="1000"
    style="z-index: 5"
    data-transform_in="y:[-300%];opacity:0;s:500;">
        {% if lang == "es" %}
            de tu departamento comercial<br> 
            con soluciones innovadoras<br><hr>
        {% endif %}
        {% if lang == "en" %}
            by providing  innovative solutions to your<br> sales department <br><hr>

        {% endif %}
    </div>

  

 <!--<div class="tp-caption bottom-label"
    data-x="left" data-hoffset="-150"
    data-start="1500"
    style="z-index: 5"
    data-transform_in="y:[100%];opacity:0;s:500;">
      Sabemos lo traumatico que a veces puede ser la implementación de <br>
      nuevas tecnologías. Por eso, complementamos nuestros producto con<br>
      un efectivo proceso de implementación y excelente servicio al cliente.<br>
      </div>-->

  <a class="tp-caption btn btn-md btn-primary btn-slider-action tp-btn "
    data-hash
    data-hash-offset="85"
    href="#soluciones"
    data-x="left" data-hoffset="-150"
    data-y="center" data-voffset="15"
    data-start="1800"
    data-whitespace="nowrap"
    data-transform_in="y:[100%];s:500;"
    data-transform_out="opacity:0;s:500;"
    style="z-index: 5"
    data-mask_in="x:0px;y:0px;">
        {% if lang == "es" %}
            Nuestros Productos
        {% endif %}
        {% if lang == "en" %}
            View our Solutions
        {% endif %}
    </a>

</li>
