<li data-transition="fade">
  <img src="{% static '/img/slides/landing-page-slide-1.jpg' %}"
    alt=""
    data-bgposition="center center"
    data-bgfit="cover"
    data-bgrepeat="no-repeat"
    class="rev-slidebg">
    
<div class="tp-caption main-label"
    data-x="center" data-hoffset="-270"
    data-y="center" data-voffset="-150"
    data-start="500"
    data-whitespace="nowrap"
    data-transform_in="y:[100%];s:500;"
    data-transform_out="opacity:0;s:500;"
    style="z-index: 5"
    data-mask_in="x:0px;y:0px;" style="font-size:75px;">Creamos Soluciones</div>


  <div class="tp-caption top-label top-ubiqua"
    data-x="center" data-hoffset="-270"
    data-y="center" data-voffset="-75"
    data-start="1000"
    style="z-index: 5"
    data-transform_in="y:[-300%];opacity:0;s:500;">Para la comercialización efectiva de productos<br><br><hr></div>

  

  <div class="tp-caption bottom-label"
    data-x="center" data-hoffset="-280"
    data-y="center" data-voffset="25"
    data-start="1500"
    style="z-index: 5"
    data-transform_in="y:[100%];opacity:0;s:500;">
      Sabemos lo traumatico que a veces puede ser la implementación de <br>
      nuevas tecnologías. Por eso, complementamos nuestros producto con<br>
      un efectivo proceso de implementación y excelente servicio al cliente.<br>
      </div>

  <a class="tp-caption btn btn-md btn-primary btn-slider-action tp-btn "
    data-hash
    data-hash-offset="85"
    href="#home-intro"
    data-x="center" data-hoffset="-484"
    data-y="center" data-voffset="110"
    data-start="1800"
    data-whitespace="nowrap"
    data-transform_in="y:[100%];s:500;"
    data-transform_out="opacity:0;s:500;"
    style="z-index: 5"
    data-mask_in="x:0px;y:0px;">Nuestros Productos</a>

</li>
