
<div class="container mb-xlg mt-xlg">
     <div class="row mb-xlg center">
            <div class="col-md-12 ">
              <h2 class="word-rotator-title mb-sm">
                    {% if lang == "es" %}
                      Algunas grandes empresas que ya usan<strong> Nuestras Soluciones</strong>
                    {% endif %}
                    {% if lang == "en" %}
                      Our clients are industry leaders
                    {% endif %}
                </h2>
            </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>
                {% if lang == "es" %}
                  Nuestros clientes son lideres de la industria
                {% endif %}
                {% if lang == "en" %}
                  Our clients are industry leaders
                {% endif %}
            </h4>
            <div class="content-grid content-grid-dashed mt-xlg mb-lg">
                <div class="row content-grid-row">

                {# Defined in client_list.py #}
                {% for client_item in CLIENT_LIST %}
                  <div class="content-grid-item col-md-2 center">
                      <img
                        class="img-responsive"
                        src="{% static client_item.LOGO %}"
                        alt="{{ client_item.NAME }}"
                        />
                  </div>
                {% endfor %}

                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h4>
                {% if lang == "es" %}
                  Distribuyen y venden marcas como:
                {% endif %}
                {% if lang == "en" %}
                  Our clients sell world class brands
                {% endif %}
            </h4>
          <div class="content-grid content-grid-dashed mt-xlg mb-lg">
              <div class="row content-grid-row">

              {# Defined in client_list.py #}
              {% for brand_item in BRAND_LIST %}
                <div class="content-grid-item col-md-2 center">
                    <img
                      class="img-responsive"
                      src="{% static brand_item.LOGO %}"
                      alt="{{ brand_item.NAME }}"
                      />
                </div>
              {% endfor %}

              </div>
            </div>
        </div>


  </div>

</div>
