<section class="section section-default section-with-mockup mb-none mt-none bg-orange">
<div class="container">
      <div class="row mt-xl">
        <div class="counters counters-text-dark">
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="counter appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
              <i class="fa fa-list"></i>
              <strong class="count" data-num="2200000" text-final="2,200,000" data-prepend="+"></strong>
              <label>Pedidos</label>
              <p class=" mb-xl">a través de nuestro sistema</p>
            </div>
          </div>

          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="counter appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="900">
              <i class="fa fa-user"></i>
              <strong class="count" data-num="800" text-final="800" data-prepend="+"></strong>
              <label>Vendedores</label>
              <p class=" mb-xl">usando nuestra aplicación</p>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="counter appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="900">
              <i class="fa fa-mobile" aria-hidden="true"></i>
                <strong class="count" data-num="20000" text-final="20,000" data-prepend="+"></strong>
              <label>Puntos de Venta</label>
              <p class=" mb-xl">en Panamá</p>
            </div>
          </div>
         <div class="col-md-3 col-sm-6 col-xs-6">
            <div class="counter appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
              <i class="fa fa-dollar"></i>
              <strong class="count" data-num="5000" text-final="5,000" data-prepend="+"></strong>
              <label>Cotizaciones</label>
              <p class=" mb-xl">a través de Ubiqua AVE</p>
            </div>
          </div>
        </div>
      </div>

</div>

</section>
